[2019-10-03 02:12] harinij opened #15 "Importing text with ' results in unicode characters"
When uploading a CSV file with text that has ', sample below results in unicode text characters:

**Sample Input text:**
women’s health company

**Uploaded Text:**
women�s health company

[2019-10-03 02:15] harinij opened #16 "Import csv file UI"
While importing CSV file, the column selections are displayed in vertical alignment should be smaller font and horizontally aligned.

[2019-10-03 02:16] harinij opened #17 "Doc Select resizing to ensure its a horizontal list"

[2019-10-03 02:17] harinij opened #18 "Image upload - resize the image"
Resize the image to fit the row view

[2019-10-03 02:17] harinij opened #19 "Column sizing issue"
Occasionally column sizes are getting extended to infinite width

[2019-10-03 02:18] harinij opened #20 "View refresh issue on switching tables"
When switching between tables, the view shows old table row confid with all DELETE buttons for a few seconds before refreshing to the current view.

[2019-10-03 05:36] shamsmosowi commented on #18
done

[2019-10-03 05:36] #18 closed

[2019-10-03 05:37] shamsmosowi commented on #17
done

[2019-10-03 05:37] #17 closed

[2019-10-03 05:37] shamsmosowi commented on #16
done

[2019-10-03 05:37] #16 closed

[2019-10-04 04:04] shamsmosowi commented on #20
done

[2019-10-04 04:04] #20 closed

[2019-10-05 06:44] shamsmosowi commented on #19
https://github.com/adazzle/react-data-grid/pull/1700#thread-subscription-status
Looks like it's the data-grid library issue, it's already fixed waiting for the pull request to be approved

[2019-10-05 06:44] shamsmosowi commented on #19
https://github.com/adazzle/react-data-grid/pull/1700#thread-subscription-status
Looks like it's the data-grid library issue, it's already fixed waiting for the pull request to be approved

[2019-10-22 07:29] anindha commented on #15
@harinij I tried to reproduce this but couldn't. Could you please provide a link to an example csv file.

[2020-02-06 17:47] JerryGoyal opened #64 "issue with predeploy script "npm --prefix \"$RESOURCE_DIR\" run generator""
I'm getting below error when trying to deploy functions:
[code]
Node:  8.17.0
Platform: Windows 10
Firebase: 7.12.1

Also, I tried deploying functions after removing "npm --prefix \"$RESOURCE_DIR\" run generator" but then the webapp got stuck at Auth screen. Nothing happens even when I try to authenticate.
![image](https://user-images.githubusercontent.com/7106086/73963644-b7447500-4936-11ea-928d-

[2020-02-07 00:48] shamsmosowi commented on #64
Hi jerry, deploying cloud functions should be fixed now if you pull from master.
Could you share what the error is in browser console for the authentication screen. It might be that the environment variables might not have been configured correctly

[2020-02-10 10:16] JerryGoyal commented on #64
now, `yarn deploy` is throwing the below error:

[code]

[2020-02-10 23:30] itsermin opened #75 "Firetable creates _FIRETABLE_ document in existing collections"
Firetable creates _FIRETABLE_ document in our existing collections and it's messing with our database and app.

Suggest to create separation between Firetable document entries and the existing database.
Eg. Place all the required Firetable documents/subcollections in the _FIRETABLE_ main collection. Don't add documents in our existing collections.
![image](https://user-images.githubusercontent.com

[2020-02-11 00:26] shamsmosowi commented on #75
Thanks Ermin, you're right we'll probably restructure it soon. so the path would be as you suggested,
'retailers/_FIRETABE_'  would be moved to '_FIRETABLE_/retailers'

[2020-02-11 01:56] notsidney commented on #64
Hi, I can’t recreate your issue on a clean install. It seems there is an issue with how TypeScript exports the local functions, causing the Firebase CLI to treat a config file as a function to be exported.

Try pulling the latest version of the `master` branch again and make sure you re-install all dependencies. You should also need to double-check the instructions: Algolia environment keys have b

[2020-02-11 06:15] notsidney commented on #64
@JerryGoyal I was able to recreate your issue. I solved it by deleting the `lib` folder in `cloud_functions/functions`, which contains the TypeScript-compiled code.

Please let us know if this works for you too!

[2020-03-08 00:39] bradenboothby opened #96 "Realtime Database"
Does this work with Realtime Database too? Or just Firestore?

[2020-03-08 02:45] shamsmosowi commented on #96
Just firestore at the moment

[2020-03-08 02:45] #96 closed

[2020-03-19 06:15] AntlerEngineering commented on #75
@itsermin this problem is now solved thanks to @knshiro contribution

[2020-03-19 06:15] #75 closed

[2020-03-19 06:15] #64 closed

[2020-03-19 06:16] AntlerEngineering commented on #19
fixed with the new datagrid upgrade

[2020-03-19 06:16] #19 closed

[2020-05-09 08:38] jmolivas opened #118 "[installation] project contains the project id committed"
**Describe the bug**
The project contains the Firebase project id committed
- `cloud_functions/.firebaserc`
- `www/.firebaserc`

**To Reproduce**
Open file `cloud_functions/.firebaserc`

File contains
[code]
Open File `www/.firebaserc`
[code]

**Expected behavior**
Files should not contain project id or maybe files should be removed, unless this is done by design for a particular reason.

[2020-05-09 08:48] jmolivas opened #119 "[deploy] package.json contains project id"
**Describe the bug**
The project contains the Firebase project id committed

**To Reproduce**
Open file `cloud_functions/functions/package.json`

[code]

https://github.com/AntlerVC/firetable/blob/master/cloud_functions/functions/package.json#L10

[2020-05-09 08:56] jmolivas opened #120 "[deploy] deploy command is missing target"
**Describe the bug**
The deploy command is missing the target

**To Reproduce**

Ejecute deploy command
[code]
Error output:
![image](https://user-images.githubusercontent.com/366275/81469136-32b4fd00-9198-11ea-9b21-424b74535002.png)

[code]

[2020-05-09 09:06] jmolivas opened #121 "[readme] missing firebase-credentials.json file expected"
**Describe the bug**
Missing `firebase-credentials.json` file expected in the project root

[code]
https://github.com/AntlerVC/firetable/blob/master/cloud_functions/functions/fetchConfig.ts#L6

**To Reproduce**
Execute deploy command>
[code]

Error
![image](https://user-images.githubusercontent.com/366275/81469387-6ba1a180-9199-11ea-81b9-afb95ae3b480.png)

**How to fix**
Add on the README.md file

[2020-05-09 09:12] jmolivas opened #122 "[build] Property 'reduce' does not exist on type 'string'."
**Describe the bug**
The build command is not working as expected. The deploy command is also failing since is trying to execute the build command.

**To Reproduce**
Execute build command
[code]

Error
![image](https://user-images.githubusercontent.com/366275/81469549-5c6f2380-919a-11ea-8c16-473e3d4f4a64.png)

[2020-05-30 10:09] C-Aniruddh commented on #122
I am facing the same issue. Any updates on this?

[2020-06-18 18:11] kx2 commented on #122
I'm also facing the same issue.

[2020-06-19 07:05] shamsmosowi commented on #122
This issue has been fixed #129

[2020-06-19 07:05] #122 closed

[2020-06-19 07:08] shamsmosowi commented on #121
Thanks @jmolivas , I have removed the need for having service key file as a requirement, as it's only needed for a subset of optional Firetable functions that we haven't documented yet

[2020-06-19 07:08] #121 closed

[2020-06-19 07:10] shamsmosowi commented on #119
thanks for the tip!, I've cleaned it up now

[2020-06-19 07:10] #119 closed

[2020-06-19 07:16] shamsmosowi commented on #118
👍 removed and added the two files to .gitignore

[2020-06-19 07:16] #118 closed

[2020-06-19 08:04] shamsmosowi commented on #15
![image](https://user-images.githubusercontent.com/13803906/85111050-5f077300-b246-11ea-807f-57c3d35aec81.png)
![image](https://user-images.githubusercontent.com/13803906/85111066-66c71780-b246-11ea-9c23-d61a0995bb71.png)
I was able to import Unicode characters

[2020-06-19 08:04] #15 closed

[2020-06-19 08:08] shamsmosowi commented on #120
this has been fixed with the other issues, and should no longer be a problem

[2020-06-19 08:08] #120 closed

[2020-07-03 02:08] harinij opened #134 "Image compression and ordering feature"
**Is your feature request related to a problem? Please describe.**
Currently images result in some slight slowness and needs compress for optimizing performance

**Describe the solution you'd like**
Image compression and ordering feature - ordering allows for shifting the order of image display

[2020-07-03 02:12] harinij opened #135 "Demo project for firetable on Tech Resources"
**Is your feature request related to a problem? Please describe.**
Listing of data in a sample demo project for firetable.

[2020-07-09 12:12] harinij opened #139 "Enable option for default value in column setting especially for checkbox"
**Is your feature request related to a problem? Please describe.**
When we don't have a default value for checkbox, it is not possible to filter by that using the filter button.

**Describe the solution you'd like**
We should have option for checkbox to default to no value or empty state.

[2020-07-10 01:26] harinij opened #140 "Web app to setup cloud build and firetable config"
**Is your feature request related to a problem? Please describe.**
Web app to setup cloud build and firetable config to make setup easy

[2020-07-10 01:29] harinij opened #141 "Templates for new tables"
Templates for new tables. Docked button on the button right.

[2020-07-10 01:32] harinij opened #142 "Table setting at table level"
Table setting at table level for the users groups perms - read, update, delete

[2020-07-10 01:40] harinij opened #143 "New Table + New Column = Suggest exisiting options from exisiting collections"
New Table + New Column = Suggest exisiting options from exisiting collections. To save setup time.

[2020-07-14 08:31] harinij opened #144 "Rearranging column seems to be broken"
**Describe the bug**
On creation on new column, and trying to rearrange it seems to have a bug and unable to rearrange columns.

[2020-07-17 00:16] harinij opened #148 "UI for setting up Gcloud pipeline"
**Is your feature request related to a problem? Please describe.**
1) Get credentials..
2) Get collection names etc...

[2020-07-17 00:20] harinij opened #149 "Side drawer fixes and smoothness"
Jumpiness of side drawer occasionally causing data input issues

[2020-07-21 16:40] dylangolow opened #151 "Can't Sign In"
**Describe the bug**
A clear and concise description of what the bug is.

Follow Google Sign-In flow, Google Sign-In enabled in project, modal "succeeds" then toast notification shows "This account does not exist" although the user exists in firebase after modal exits. Same behaviour on retry.

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'Sign In with Google'
2. Click on Google prof

[2020-07-21 23:19] shamsmosowi commented on #151
hi @dylangolow
the reason for this error is that your account does not have any roles in its custom claims, we'll be releasing setup tool and role-based permissions system to make this easier to manage your Firestore rules soon. For now, I made this script to help you setup your account claims so that it works on firetable https://gist.github.com/shamsmosowi/05e67b7dedf8567181e1d7feee80d3aa

[2020-07-24 00:23] dylangolow commented on #151
Thank you!

On Tue, 21 Jul 2020 at 19:19, Shams <notifications@github.com> wrote:

--
*Dylan Golow*

*+1 514 264 2670 <+1%20514%20264%202670> | **dylangolow@gmail.com
<dylangolow@gmail.com> | LinkedIn
<https://www.linkedin.com/in/dylan-golow/>*

[2020-08-19 17:10] dylangolow opened #160 "Possibility to copy between databases/projects"
**Is your feature request related to a problem? Please describe.**
A use case I have built scripts for in the past is copying data for tests or otherwise between projects/databases in firestore.

**Describe the solution you'd like**
The ability to add additional firebase project ids and then given a selection, you can copy/migrate data to another project.

**Describe alternatives you've considered

[2020-08-20 00:59] harinij opened #161 "Column names to allow for nested Objects fieldtype"
Currently Firetable allows for only camelcase field naming, expand it to allow for nested objects retrieval

[2020-08-21 06:14] AntlerEngineering commented on #161
implemented in #165

[2020-08-25 09:16] notsidney commented on #149
Fixed in #167

[2020-08-25 09:16] #149 closed

[2020-09-02 02:58] #143 closed

[2020-09-06 04:18] shamsmosowi commented on #135
https://try.firetable.io

[2020-09-06 04:18] #135 closed

[2020-09-06 04:20] shamsmosowi commented on #151
added documentation [here](https://github.com/AntlerVC/firetable/blob/master/RULES.md#setting-roles).

[2020-09-06 04:20] #151 closed

[2020-09-07 12:45] sumitkumar2019 opened #187 "Getting 404 for http://localhost:5000 after firetable start | Platform: Fedora 31"
After Project Set up and Performing below operation, I am getting 404 for http://localhost:5000
cd [directory]
firetable start

[2020-09-07 14:52] sumitkumar2019 opened #188 "Not working with Node 14 Latest version (and With Node 10.15 local installation 404 issue)| Platform: Fedora 31"
I tried the required steps to install this project locally and realise that it is compatible with Node 10.15 not with the latest stable versions. Please have a look. On Node 10.15 also, after installation I am getting 404 for localhost:5000

[2020-09-07 14:54] shamsmosowi commented on #187
Hi, can you try updating the CLI to 1.0.1 and try again, it should work as expected now. Let me know if you're still having issues with it

[2020-09-07 15:27] sumitkumar2019 opened #189 "Read Me file : yarn local failed | Platform: Fedora 31"
www]$ yarn local
yarn run v1.22.5
error Command "local" not found.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

[2020-09-07 15:32] sumitkumar2019 opened #190 "yarn start : turned in to error during start of application| Platform: Fedora 31"
./node_modules/react-data-grid-addons/lib/toolbars/GroupedColumnsPanel.js
Attempted import error: 'DragItemTypes' is not exported from 'react-data-grid'.

[2020-09-07 16:32] sumitkumar2019 opened #191 "Firetable home Page appears to be blank on every run with number of warnings on console | yarn serve turns into 404 | Platform: Fedora 31"
With new Master branch: I tried and install the project and run using npm start, the Project seems to be unstable as Project homepage use to be blank every time and in console i am getting below:

Compiled with warnings.

./src/components/Grid/AlgoliaFilters.tsx
  Line 105:6:  React Hook useEffect has missing dependencies: 'requestDispatch' and 'requiredFilters'. Either include them or remove the

[2020-09-07 16:35] sumitkumar2019 commented on #187
ok let me try

[2020-09-07 17:00] sumitkumar2019 commented on #187
@shamsmosowi it is working after updating version to 1.0.1. Node version 10.15

npm install firetable@1.0.1

Thank you :+1:

[2020-09-07 17:15] sumitkumar2019 commented on #187
@shamsmosowi Now I am getting Error on the page while login through google credentials: I am login with credential who is owner of the project

You need to enable Google authentication in your firebase project

[2020-09-07 21:10] sumitkumar2019 commented on #187
@shamsmosowi It seems o be known issue

https://github.com/AntlerVC/firetable#known-issue-this-account-does-not-have-any-roles

Thank you for your help on this :+1:

[2020-09-07 21:10] #187 closed

[2020-09-07 23:58] shamsmosowi commented on #189
updated the readme, it should have been yarn start

[2020-09-07 23:58] #189 closed

[2020-09-08 00:36] shamsmosowi commented on #191
if you're getting 404 with `yarn serve`  then it means that you havn't built the app, so the build folder is empty. If you are getting a blank screen with `yarn start`, it most likely you haven't set up the environment variables correctly.

[2020-09-08 00:38] shamsmosowi commented on #190
are you sure your using yarn or npm? because the `react-data-grid` library has this issue you use `npm` instead of `yarn`

[2020-09-08 00:42] shamsmosowi commented on #191
Also, the thing you copied from the console are just compiler warnings, not actual errors.

[2020-09-08 00:42] #191 closed

[2020-09-08 01:00] notsidney commented on #188
Hi, could you please write the error you received that made you think it’s incompatible with specific versions of node? We have tested it on Node 10.20.1 and 14.9.0 with no issues. Additionally, there shouldn’t be anything that causes it to be incompatible with any versions of Node 10 or above.

If you got a 404 issue running `firetable serve` (which launches a dev server at localhost:5000), then

[2020-09-08 01:51] notsidney commented on #188
Hi, please use a Node version between 10 and 12. There is an issue with [Firebase’s dependencies requiring a version of grpc](https://github.com/grpc/grpc-node/issues/888#issuecomment-516918993) that [do not support Node 13 and above](https://github.com/grpc/grpc-node/issues/1216#issuecomment-564656929).

If you got a 404 issue running `firetable serve` (which launches a dev server at localhost:50

[2020-09-08 01:57] #188 closed

[2020-09-09 12:46] montanojd opened #192 "Error: spawn npm ENOENT"
![image](https://user-images.githubusercontent.com/60124037/92599930-80d62c00-f270-11ea-8495-3c5486dee4a5.png)

[2020-09-09 20:36] dpsoccerdude101 commented on #192
![error](https://user-images.githubusercontent.com/37779084/92650585-a2f49c00-f2ba-11ea-839e-e357bcd7a780.png)

[2020-09-11 01:20] notsidney commented on #192
Hi, thanks for bringing this to our attention. This looks like a Windows-specific bug. I’ve issued a fix in v1.0.2, please let me know if you have any further issues.

[2020-09-11 01:35] kristiankyvik opened #196 "Document Select Field - Algolia integration"
I have added the API Keys for algolia as well as created an index. I am trying to add Document Select field to my table in firetable, but I cannot get it to work. The dropdown just loads for ever when I click on it.

What I want is to be able to link a row in one table to a specific row of another table, establishing a relationship (a la foreign key). Is this possible?

[2020-09-11 02:30] montanojd commented on #192
Hello, thanks for the answer I am going to test the installation, an
additional query, can I use this system for an existing database
in Firestore?

El jue., 10 sept. 2020 a las 20:20, Sidney Alcantara (<
notifications@github.com>) escribió:

[2020-09-11 03:23] shamsmosowi commented on #192
Yes, @notsidney even built an import wizard, to help with creating the tables automatically for your existing collections

[2020-09-11 03:58] shamsmosowi commented on #196
hi Kristian!, yes Document Select can help with establishing a relationship as it stores docPath and snapshot of the selected row in the field/cell.
It is not clear how it works at the moment and we'll be adding functionality to help with the setup and creating the index on Algolia soon.
let me try document the setup for its here, and let me know if you are still having any issues with getting it

[2020-09-11 20:01] kristiankyvik commented on #196
Hi @shamsmosowi,

Thanks for taking the time to explain this. I followed the instructions and managed to get it working!

Super impressed by the tool, keep up the good work!

[2020-09-12 10:27] kristiankyvik commented on #196
Hi @shamsmosowi,
I have a follow up question, on how to use these field types (object reference). I have an examples where I have companies that have buildings ( buildings only have one unique company). With the fire table setup, I have added a a reference to a company on the building objects. This works nicely on fire table but when I try to fetch this data in my app, I am having difficulties fin

[2020-09-14 08:06] shamsmosowi commented on #196
Hi @kristiankyvik , it really depends on how you are viewing that data in your app.
If the number of buildings is not too large, and you are only viewing one company's buildings at a time, you could store the building as an array in the company doc(as you have 1mb of capacity here).
If you have a lot of buildings, the amount of data in the building object is too large, or you need different access

[2020-09-14 08:06] #196 closed

[2020-09-14 08:07] #190 closed

[2020-09-15 06:09] shamsmosowi commented on #160
hi @dylangolow this is currently outside of the scope of firetable UI, we do have a callable and a cron cloud functions to export firestore data and incomplete restore from backup callable function [here](https://github.com/AntlerVC/firetable/blob/master/cloud_functions/functions/src/backup.ts).  you also use `gcloud` cli to import the data back into firestore ```gcloud firestore import gs://[STOR

[2020-09-15 06:09] #160 closed

[2020-09-15 17:29] jonathan-chin opened #203 "export is broken on demo site?"
I just tried to export a random table from the demo site while logged into my google account. I got this error:

SOMETHING WENT WRONG
e.map is not a function

[2020-09-15 22:15] shamsmosowi commented on #203
yes, it was broken, thanks for flagging it! It should be fixed now

[2020-09-15 22:15] #203 closed

[2020-09-18 05:57] kristiankyvik opened #204 "Filtering items shown on row connection field type based on values from other columns"
Hi! I have created some columns of type row connection. These columns connect to rows of a table that is a group collection (merging items form a series of sub collections). I would like to filter the values the column shows based on the values of other columns. To illustrate, I would like to show the user a filtered list in the search items of buildings based in the company he has selected in the

[2020-09-18 09:45] shamsmosowi commented on #204
hi @kristiankyvik , filter template can be a static string ```'attribute:value'``` or it can contain a value from any field in the row(Firestore doc) using handlebars( eg:  ```'attribute:{{fieldName}}'```) then passed it into the [algolia filters query parameter](https://www.algolia.com/doc/api-reference/api-parameters/filters/). So if you have a field in your row like ```companyId```, you could t

[2020-09-18 14:11] kristiankyvik commented on #204
Thanks for getting back to me @shamsmosowi. In my case I have a field called companies containing an array of ids ([id1, id2, id3]). I want the the row connection to filter out the items based on the following rule: [id1, id2, id3],contains(item.id). Is this possible using templates in algolia?

[2020-09-20 07:20] kristiankyvik opened #206 "Cannot undo "isCollectionGroup" toggle action"
When I create a new table, I decide to make it a collection group table, by toggling the isCollectionGroup toggle.
![image](https://user-images.githubusercontent.com/6661158/93705973-50b94380-fb22-11ea-9d89-b2cdb73b13c7.png)
When I try to edit the general settings of this table, the toggle does not appear to be activated, not reflecting the fact that this is a collection group. At the same time, I

[2020-09-21 04:06] shamsmosowi commented on #204
unfortunately, I don't think it's possible to do a contains operation using Algolia filters.

the second issue is a bug that doesn't render the stored value of the filter template, it will be fixed soon.

[2020-09-21 04:12] shamsmosowi commented on #206
thanks @kristiankyvik  for flagging this, @dorukde I think the UI for this needs improvement, it's not actually possible to switch easily between the two types of tables due to the different table scheme types. We will need a different way of specifying the table type on creation, which is not reversible.

[2020-09-21 06:10] dorukde commented on #206
thanks @kristiankyvik & @shamsmosowi, I have added a new modal view for the Edit (create view has no disabled states).
![Lab: Editing created table](https://user-images.githubusercontent.com/20957578/93736844-ed640a00-fc24-11ea-9ae1-78c9f529d9b3.png)

[2020-09-21 09:39] kristiankyvik commented on #206
Hi @dorukde, thanks for the quick reply! The solution looks good!

[2020-09-21 12:31] jfr3000 opened #208 "Need help: Existing collections not showing up"
**Describe the bug**
I set up firetable according to the instructions, running it locally, but none of my existing collections are showing up. I can, however, create a new table. Using the CLI, I have given myself the admin and internal role.

I suspect that the issue is my firebase ruleset:
[code]
I'm grateful for any pointers as to what I've missed. Thanks!

[2020-09-21 17:21] jonathan-chin opened #209 "Table Views: display same table with different column configs & sections"
first of all, this is a phenomenal project. we're looking at replacing our current reliance on Airtable with this because it has a large opportunity for being more powerful and functional.

I've discussed it with my team and there's one crucial feature that's holding us back: views. in production, we have a few views such as: 'volunteers', 'admin', 'Jon Chin', 'Marc and Melissa'. these views have

[2020-09-22 09:37] notsidney commented on #209
Hi Jonathan, @shamsmosowi and I had a similar idea about displaying the same table with different column configs & different sections on the home page, then we could apply permissions based off each view/table alias. We haven’t built it yet

[2020-09-22 09:40] notsidney commented on #208
Hey there, we don’t automatically generate tables based off your collections right as you start—you’ll need to add new tables pointing to your existing collections. If they have documents with fields inside, it should show the import wizard and suggest column types for you.

[2020-09-22 09:40] #208 closed

[2020-09-22 11:14] jfr3000 commented on #208
Thanks! There's no wizard, but when I manually add the columns, the data shows up. Thanks for clarifying and the awesome project!

[2020-09-22 20:15] carelkat opened #210 "Error Please Help"
Hi there, I would really like to use this, but I get this error. Please be so kind and have a look. I am quite new to Firebase and Java, so please be patient.

Thank you

![Firetable_error](https://user-images.githubusercontent.com/29289579/93932840-123da780-fd21-11ea-9aad-0e647ddcdacd.png)

[2020-09-22 20:28] carelkat commented on #210
Can just also note that if I do go into Users I do find the Firetable folder,and if I go into public I do see the Index page but if I open it it is just blank.

[2020-09-22 20:56] jonathan-chin opened #211 "cannot log in on new project"
Hi, I just started a new firetable project using `firetable init`
I can start and serve it locally no problem. when I visit it in the browser, I get a login page and I try to login with my Google credentials. However, I get the following error: `You need to enable Google authentication in your firebase project`. I went to my console and enabled Google authentication and try logging in again. Howev

[2020-09-22 21:11] jonathan-chin commented on #211
I think this may have been caused by me enabling google authentication after running `firebase init`
I deleted my firetable instance and init'ed a new one and it's fixed
for future reference, is there a way to fix it if I enable google auth after init?

[2020-09-22 21:18] jonathan-chin opened #212 "invalid field path error"
I was playing around and adding some new columns. I think I hit 'Create' without giving the column an id / name. shortly after, I get this error:

`FirebaseError: Invalid field path (columns.``.config). Paths must not be empty, begin with '.', end with '.', or contain '..'`

I now can't do anything on the app because this error halts everything.

edit: I deleted the firetable project on my laptop

[2020-09-22 21:33] shamsmosowi commented on #212
We'll add validation to stop that from happening, but for now you can go to the firestore console and delete the fault column, you should be able to find it under ```_FIRETABLE_/settings/schema/[tableName]```

[2020-09-22 21:36] shamsmosowi commented on #211
I don't think it's necessary redo the setup, a hard refresh should have been enough

[2020-09-22 21:42] jonathan-chin commented on #211
what do you mean by 'hard refresh'?

[2020-09-22 21:43] jonathan-chin opened #213 "Uneditable percent field"
I just added a few random fields. long text and datetime work fine. I have 2 percentage fields; the columns show up but I can't edit the value?

[2020-09-22 21:45] shamsmosowi commented on #211
[this](https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/), it's used for clearing the browser cache.

[2020-09-22 21:47] jonathan-chin commented on #212
Hi, @shamsmosowi I just accidentally triggered this again. I'm looking under `_FIRETABLE_/settings/schema/[tableName]/columns` and I see all the named columns but not the faulty column. it seems `columns` is a key-value object where key is the name of the column. but if I didn't name the column, there would be no key.

is this info stored somewhere else?

[2020-09-22 21:52] shamsmosowi commented on #213
yep, the percentage field needs more work, it's read-only at the moment

[2020-09-22 22:03] jonathan-chin commented on #211
got it. will try next time. though, I usually try control-R if I suspect a caching issue. don't remember if I tried it this time.

[2020-09-22 22:03] #211 closed

[2020-09-22 22:06] shamsmosowi commented on #212
actually it looks like a firebase SDK issue. you'll just need to clear out the application data, by opening to console,  going to the application tab, and clicking the "clear site data" button
![image](https://user-images.githubusercontent.com/13803906/93942244-62455a00-fd73-11ea-9b5e-84c42ba8f077.png)

[2020-09-22 22:14] jonathan-chin commented on #212
@shamsmosowi ok, so that worked. however, my original table now doesn't show up anymore, even though the data and schema are showing up in firestore.

I tested it again: created a new table (it worked fine), intentionally created a faulty column, did the `clear site data` fix. the new table I created is still there but the original table still doesn't show up. both tables have data in firestore.

[2020-09-23 01:17] shamsmosowi commented on #212
can you share your table schema doc, I can take a look

[2020-09-23 01:39] notsidney commented on #210
Hey there, it looks like you’re running an old version of the Firetable CLI, which didn’t work on Windows. Please try upgrading using
[code]
and running again

[2020-09-23 01:39] #210 closed

[2020-09-24 12:06] jfr3000 opened #217 "Free text for single-select not working"
**Describe the bug**
When editing the settings for a single-select column, the admin is given the choice to enable adding new select-options for other users. While this works for multi-select, it doesn't for single-select - on purpose, [it seems?](https://github.com/AntlerVC/firetable/blob/fd036f59c7111b5105d69f94d183ccb1439eb0b7/www/src/components/Table/formatters/MultiSelect.tsx#L121).
If so, pe

[2020-09-24 15:53] mellissatort opened #218 "Unable to unhide a column that was hidden using column settings"
**Describe the bug**
Within the column settings a user can choose to hide a column.  Once the column is hidden the user is not able to unhide the column from the firetable UI.  Even trying to use the "Hide" button on the table does not allow the column to be unhidden.

**To Reproduce**
Steps to reproduce the behavior:
1. Identify a column to hide
2. Click on down arrow for the column to display th

[2020-09-24 16:36] mellissatort opened #219 "CSV import for a DATE column results in "Something went wrong" displayed in firetable"
**Describe the bug**
A column in firetable is configured with the DATE type.  When importing a CSV file with date data into this field, the result is "Something went wrong" is displayed.  Several different date formats have been tried.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a firetable with a column of type DATE
2. Import a csv file with a column having data in a date format

[2020-09-24 21:56] shamsmosowi commented on #218
thanks for flagging this @mellissatort , it'll be fixed in the next merge #216

[2020-09-24 21:56] #218 closed

[2020-09-27 14:57] carelkat commented on #210
Thank you, I did that but got the same error.
![firetable_nodejs](https://user-images.githubusercontent.com/29289579/94368062-83df7200-00e2-11eb-933c-42f4c7f2cf40.jpg)

[2020-09-30 06:57] notsidney commented on #217
Weird, I’m not sure why I left this disabled in the first place. I’ve removed this restriction in 4dbf29d

[2020-09-30 06:57] #217 closed

[2020-09-30 08:14] notsidney commented on #148
A CLI version was implemented with firetable-cli as an alternative to a full-blown GUI

[2020-09-30 08:14] #148 closed

[2020-09-30 14:08] jaykay-git opened #221 "Could Not Complete Step 2 of the Setup Instructions"
$yarn global add firetable
yarn global v1.22.5
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
error firetable@1.1.0: The engine "node" is incompatible with this module. Expected version ">=10 <13". Got "14.12.0"
error Found incompatible module.
info Visit https://yarnpkg.com/en/docs/cli/global for documentation about this command.
$firetable init firetrade
zsh: command not found: fir

[2020-09-30 19:07] jaykay-git commented on #221
Went back and started over.  Got it right this time.

[2020-09-30 19:07] #221 closed

[2020-09-30 21:02] jaykay-git opened #222 "Installation Instructions"
About these [instructions](https://github.com/AntlerVC/firetable/blob/master/cli/README.md#Setting-user-Roles):

1) Cannot find anything in project settings called "admin key".  Do you mean **generate a new private key** for the **Admin SDK**?

2) What do you mean "add it" to "the directory"?  Do you mean **move it** (the downloaded .json file) to the **www** directory (or somewhere else)?

About

[2020-10-01 13:53] shamsmosowi commented on #222
clarified 1,3 in #224, 2 the directory of where your terminal is running

[2020-10-01 13:53] #222 closed

[2020-10-01 14:52] jaykay-git commented on #222
That is called either the "[current directory](http://www.linfo.org/current_directory.html)" or the "[working directory] (https://www.gnu.org/software/libc/manual/html_node/Working-Directory.html)"

[2020-10-01 17:40] jaykay-git opened #225 "Enable the Google sign-in method in Authentication / Sign-in"
Regarding these "[Setup Instructions](https://github.com/AntlerVC/firetable#setup-instructions)" ...

1) There is nothing on the **Authentication / Sign-in** page called "Firebase Authentication user".

2) There are no apparent fields on the **Authentication / Sign-in** page to "run the following script".

[2020-10-02 04:23] shashishringari opened #226 "Instructions says to upgrade firebase project to 'Blaze Plan'"
**Describe the bug**
Instructions says to upgrade firebase project to 'Blaze Plan'. However, there is no reason or consequences mentioned. Will Project not work if I am not on Blaze plan? and reason for moving to Blaze plan not mentioned. I am trying to explore this solution. But as I am just starting, I am hesitant to move to Blaze plan. Please help.

**To Reproduce**
Readme instructions

**Expec

[2020-10-02 04:57] shamsmosowi commented on #226
Hi, you can start with the Free plan, as the blaze plan is only needed for some cloud functions. We used to have the table export feature running on a cloud function, but we have moved it to completely be running on the frontend. We do have some columns that require cloud functions at the moment, but they're still undocumented so you'll probably not be using them just yet.

[2020-10-02 05:02] shashishringari commented on #226
Thank you! Thanks for clarification! I am leaving it open in case you want to document in readme or free to close it.

[2020-10-02 05:59] notsidney commented on #226
Hi @shashishringari, thanks for pointing it out. We’re planning on upgrading our documentation, so we’ll definitely be adding this to make it easier for people to get started. If there are any other points we missed in our current instructions, please let us know here!

[2020-10-02 05:59] #226 closed

[2020-10-02 07:27] notsidney commented on #210
@carelkat could you please check that it’s running the correct version? The command for that is:
[code]

If it’s not 1.1.0, you can try reinstalling Firetable CLI with these commands:
[code]

[2020-10-02 12:06] verekia opened #228 "Abstracting the UI to be compatible with any database"
I haven't been able to find a solid solution to manage my databases (PostgreSQL) with a clean web UI that also works on mobile.

Firetable looks like a product that can be abstracted into just an UI package. The community could build adapters to plug that UI to any kind of database (MySQL, SQLite, Postgres, AWS...).

Alternatives:
Airtable is great on desktop and mobile but has a proprietary close

[2020-10-02 13:17] samtstern opened #229 "Add this project to firebaseopensource.com"
Hi there!  I'm from the Firebase team and I saw your project making the rounds, it looks fantastic!

I also maintain https://firebaseopensource.com which is a repository of open source projects that use Firebase.  I'd love to add Firetable to the site, if you're interested.

All you have to do is add a file called `.opensource/project.json` to your repo with some basic information.

Here are some

[2020-10-02 13:23] AntlerEngineering commented on #229
Thanks for reaching out @samtstern. We would love to get added to the list of open source projects on firebase and will add the file to our repo shortly. 👍

[2020-10-02 13:31] harinij commented on #229
Thanks for reaching out @samtstern We would love to get added to the list of open source projects on firebase and will add the file to our repo shortly. 👍

We are actively working on this project and have in the roadmap many exciting new features to allow developers to build on top of firebase and ship faster. Connected to you ok LinkedIn to see if there is opportunity to collaborate further.

[2020-10-02 13:34] samtstern commented on #229
@harinij great!  I don't actually used LinkedIn but my email is in my GitHub profile, feel free to reach out.

[2020-10-02 13:48] #144 closed

[2020-10-02 19:07] grzegorzbialy commented on #219
I stumbled upon same issue while trying to import dates.
Until the issue is solved you can use onCreate trigger to correct the date.

Eg.:
`exports.onSlotCreate = functions
  .firestore.document('docs/{docId}')
  .onCreate(async (snapshot, context) => {
    const docData = snapshot.data();
    let update = false;

    if (typeof docData.date === "string") {
      docData.date = new Date(docData.da

[2020-10-03 07:04] notsidney commented on #225
Hi @jaykay-git, these are two separate steps.

1. You need to [enable the Google sign-in method in the Firebase Console.](https://console.firebase.google.com/project/_/authentication/providers)

2. To fix the “This account does not have any roles” issue, [follow these instructions.](wiki/Firetable-Role-Based-Security-Rules#set-user-roles-with-the-firetable-cli)

I hope the updated documentation is

[2020-10-03 07:04] #225 closed

[2020-10-03 10:00] notsidney commented on #210
@carelkat I’ve updated the CLI to version 1.1.1. Please update and make sure you’re running the latest version using the instructions above.

[2020-10-03 10:49] shashishringari opened #231 "Accessing nested collection causes error"
**Describe the bug**
My Firestore data looks like this :
<img width="679" alt="Screenshot 2020-10-03 at 4 09 19 PM" src="https://user-images.githubusercontent.com/62135505/94989564-6f442380-0593-11eb-8d6f-44c6605c323f.png">

I am trying to map it with firetable. I am able to map top level collection(categories) in group table.
However, When I am trying to create sub-table to access sub-collections

[2020-10-03 11:12] shamsmosowi commented on #231
Hi @shashishringari , I will look into this soon(it might be that table groups are not playing well with subtables). I'm not sure why you’re using a tableGroup though, table groups are intended for collection groups on firestore. You're using a primary collection, so you should have setup a normal table. We're working on improving the UI for the table creation step to make it clearer.

[2020-10-03 11:16] shashishringari commented on #231
Thank you @shamsmosowi ! Let me try using normal table for nested collection

[2020-10-03 11:23] shashishringari commented on #231
Trying to access sub-collection using normal table gives me below error :
<img width="488" alt="Screenshot 2020-10-03 at 4 48 53 PM" src="https://user-images.githubusercontent.com/62135505/94990338-eb8d3580-0598-11eb-9091-3bc43526c9f6.png">

<img width="690" alt="Screenshot 2020-10-03 at 4 50 16 PM" src="https://user-images.githubusercontent.com/62135505/94990343-efb95300-0598-11eb-984c-ab70c03606

[2020-10-03 11:27] shamsmosowi commented on #231
I meant you need to create a table for categories, then add a subtable column for V001

[2020-10-03 11:34] shashishringari commented on #231
Thank you very much @shamsmosowi ! I am able to generate using normal table with your suggestions! Keeping it open as group collection table is still causing problem. I am able to move with given solution. So if you wish you can close it.

[2020-10-03 11:37] shamsmosowi commented on #231
you're welcome! , yep let's keep it open for now

[2020-10-03 12:27] andig commented on #228
Sounds like an excellent idea. Firetable can easily provide e.g. admin access to any sort of (embedded) data store if abstraction permits. UI and storage should be decoupled, as well as UI and serving the UI.

[2020-10-04 03:12] notsidney commented on #231
Hi @shashishringari, you may be interested in reading [Firebase’s guide on Cloud Firestore’s data model.](https://firebase.google.com/docs/firestore/data-model) This may help you structure your data better.

For example, I think you shouldn’t have a top-level collection for Categories. This should either be:
- A field in each document that is used for filtering. So all the V001 subcollections shou

[2020-10-04 10:47] #212 closed

[2020-10-05 06:54] justshreyas opened #232 "Failed to build and serve"
**Describe the bug**
Firetable Build did not succeed

**To Reproduce**
Steps to reproduce the behavior:
1. Run ```firetable start``` in the created firetable project directory
2. Open Browser and go to ```http://localhost:5000```

**Expected behavior**
See a login/welcome screen in the browser window after CLI shows "Serving Firetable at http://localhost:5000"

**Actual Behavior**
CLI shows "Servi

[2020-10-05 07:01] notsidney commented on #232
Hi @justshreyas, could you please try running `yarn build` inside the `www` directory? Once that builds, try running `firetable start` again. Please let me know if this works.

[2020-10-05 07:46] justshreyas commented on #232
Thanks a lot for the prompt response. This worked.

[2020-10-05 07:46] #232 closed

[2020-10-06 05:42] mayurdhurpate opened #233 "Create an option to add generic data types to cover complex (Map and Array type) Firestore data fields"
**Is your feature request related to a problem? Please describe.**
When I'm adding Firestore to my existing projects, there are many nested data types (calling them `complex data field`s henceforth) which could not be mapped to Firetable, thus making it impossible for me to give access to edit those fields to my content/marketing teams. Following are some of the examples:
 - Firestore `Map` Field

[2020-10-06 05:51] mayurdhurpate opened #234 "Option to view, modify and export document ids"
**Is your feature request related to a problem? Please describe.**
For many of our collections, `document id`s are the primary way for us to search and work on documents. For some of the collections, we provide custom `document id`s instead of automatic `document id`s created by Firestore.

Currently, it is not possible to view and export `document id`s in the Firetable table for any collection.

[2020-10-06 09:43] notsidney commented on #234
Hi @mayurdhurpate, these are great suggestions! If it helps, we expose the document path (which includes the document ID) right at the bottom of the side drawer, with a link to open it in the Firebase Console.
![image](https://user-images.githubusercontent.com/27017118/95185537-8cd3f000-0814-11eb-9bba-700da1824ad6.png)

[2020-10-06 21:14] torbjornvatn opened #235 "Import Wizard not showing up for existing collections"
**Describe the bug**
I just tested this the same scenario as described in #208 locally and the Wizard doesn't show up for me either.
I just get a blank row (no column and no value) for the one test document I added to my test collection that has the same name as the table I'm trying to create

**To Reproduce**
Add a table with the same name as an existing collection

**Expected behavior**
That the

[2020-10-07 01:19] notsidney commented on #235
Hi @torbjornvatn, thanks for pointing this out. It looks like there’s a bug where adding new tables initialises the column config as an empty Firestore map `{}`, which doesn’t return as `false` in the JS that triggers the import wizard to appear.

We’re also working on updating the empty table UI to be less empty—I’ll be adding a button to manually open the import wizard.

I’m not sure if somethin

[2020-10-07 01:26] notsidney commented on #229
Hi @samtstern, we added the file in f0341bf

[2020-10-07 07:57] notsidney commented on #234
Added ID field type in e0d0178

[2020-10-07 10:08] samtstern commented on #229
@notsidney awesome!  Added you to the site:
https://github.com/firebase/firebaseopensource.com/commit/d9914041fcc04ba634e150109c311b86dd8c1d70

The site is built every 24 hours so your page should appear soon.

[2020-10-07 10:08] #229 closed

[2020-10-07 18:43] hngrtr opened #236 "Not seeing data"
I've followed all of the installation instructions, but js errors are preventing me from seeing any of my data.
Have others experienced this?

<img width="1106" alt="Screen Shot 2020-10-07 at 9 27 19 AM" src="https://user-images.githubusercontent.com/70544298/95373754-48873500-0892-11eb-9fee-f9f7fb860145.png">

[2020-10-07 21:50] #236 closed

[2020-10-08 04:22] notsidney commented on #213
Fixed in 0794e10

[2020-10-08 04:22] #213 closed

[2020-10-08 12:09] mayurdhurpate opened #237 "Adding 2nd confirmation for the 'Add Row' functionality"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I accidentally click "Add Row" button instead of Add Column/Hide Row/Filter. Since there is no 2nd confirmation (unlike in Firestore Console UI) and an empty row gets created, this leads to poor UX because in some cases the collection is not handled in frontend to have empty documents, which may lead to c

[2020-10-08 12:30] leoruhland opened #238 "How to add ConnectTable select?"
Hi! Congratulations on this great project.

I would like to know how I could add a simple relationship between 2 entities.

Example: Post and Categories.

I saw in the Roadmap that the following types of fields were made:

- single select reference (DocReference)
- multi select reference (DocReference)

But I can only add selects with static data added manually.

I'm probably forgetting something,

[2020-10-08 14:51] mayurdhurpate commented on #219
@notsidney I think, all the fields are being imported as strings in the Firestore, and hence the Data Parser shows `Something went wrong` in the Date call.

I tried importing the following fields:
 - name : string
 - profilePictureUrl : string
 - rating : number
 - review : string
 - reviewId : string
 - timestamp : Date

with following csv:
[code]

**Data Key Mapping Screen:**

![Screenshot 2020-

[2020-10-09 04:02] shamsmosowi commented on #206
#240

[2020-10-09 04:02] #206 closed

[2020-10-09 05:16] dorukde commented on #237
Hi @mayurdhurpate
Thanks a lot for the request.

We have been working on the empty state of the new table. in the next version:

1. "Add Row" button will be disabled unless data is imported (or a Column is added).
2. Also, the users will set default values for each column (to avoid empty rows by default) with the possibility to define, if the column is a required one.
3. If any value on the row is

[2020-10-09 05:32] mayurdhurpate commented on #237
Wow, this is quite comprehensive! Seems perfect, especially the 3rd point.

[2020-10-09 17:17] johnfuller commented on #234
I don't know if I found a hidden feature. But I created a column called "id" with a "short text" type and the document ID auto-fills for each row. This was pulled around a week ago from master. I haven't updated since then, so I haven't tried the change referenced in e0d0178.

[2020-10-10 19:49] AAAZZAM opened #241 "Embeddable Firetable a la Firepad?"
**Is your feature request related to a problem? Please describe.**
The default install (which is really well documented!) launches a platform-view, whose UI is ideal for internal use. I would like to use firetable in a product, in which I assign every new user a default firetable embedded in an existing user portal.

**Describe the solution you'd like**
 I would love to take an existing table and

[2020-10-12 02:36] kanhegaonkarsaurabh opened #242 "Height dropdown option not working and resets itself on demo page"
**Describe the bug**
The height dropdown option is not working and upon selecting a new option, after a second or so the dropdown resets to the original default option "Venti"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://try.firetable.io/table/mvpResources?rowRef=mvpResources%2F1wqXmWaneac5kyzYm5bb'
2. Click on dropdown Height to select a different height (For ex: Tall)
3.

[2020-10-12 07:36] minuitagency opened #243 "Deploy target firetable not configured for project"
**Describe the bug**
When trying to deploy firetable I get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
cd my project
firetable deploy

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] macos

[2020-10-16 04:13] dylangolow opened #248 "Firetable CLI won't give all firebase projects as option"
**Describe the bug**
`firetable init .` in the desired directory runs, then shows list without all firebase projects to select which to deploy to.

**To Reproduce**
Steps to reproduce the behavior:
1. firetable init . from destination directory
2. See list without all firebase projects.

**Expected behavior**
To see all projects and select project to deploy to.
**Screenshots**
N/A

**Desktop (plea

[2020-10-17 00:20] shamsmosowi commented on #248
Hi @dylangolow
can you make sure your logged into the firebase cli first, and projects are showing up  when you use ```firebase projects:list```
https://firebase.google.com/docs/cli#sign-in-test-cli

[2020-10-17 03:23] dylangolow commented on #248
They are! I get all but one project for some reason even though I can set
it with firebase use —add for that project.

On Fri, Oct 16, 2020 at 8:20 PM Shams <notifications@github.com> wrote:

--
*Dylan Golow*

*+1 514 264 2670 <+1%20514%20264%202670> | **dylangolow@gmail.com
<dylangolow@gmail.com> | LinkedIn
<https://www.linkedin.com/in/dylan-golow/>*

[2020-10-17 03:24] dylangolow commented on #248
How does the Firetable CLI sense the firebase projects?

On Fri, Oct 16, 2020 at 11:23 PM Dylan Golow <dylangolow@gmail.com> wrote:

--
*Dylan Golow*

*+1 514 264 2670 <+1%20514%20264%202670> | **dylangolow@gmail.com
<dylangolow@gmail.com> | LinkedIn
<https://www.linkedin.com/in/dylan-golow/>*

[2020-10-19 01:01] notsidney commented on #243
Hi @minuitagency, please run the command listed by your terminal. I’ll have a look at how we can improve the CLI to prevent this from being a manual step.

[2020-10-19 01:03] notsidney commented on #242
Hi @kanhegaonkarsaurabh, this is because you’re not signed in.

[2020-10-19 01:03] #242 closed

[2020-10-19 01:05] notsidney commented on #241
Thanks for the idea @AAAZZAM! This looks to be in line with the work needed to implement #228

[2020-10-19 01:08] notsidney commented on #238
Hi @leoruhland, thanks for your interest in Firetable! We currently do not have a guide on how to set up this field. It requires you to set up Cloud Functions and I don’t have the specifics for that at the moment. I’ll let you know here once we have a guide written.

[2020-10-19 21:10] imjared commented on #248
I think I'm able to repro this issue or something similar. Upon trying to `init`, I run `firetable init .` inside the directory where I want my project. I get the ASCII art, system versions output (seen below), and then the CLI crashes:
[code]

config is here:
[code]

I can see my projects with `firebase projects:list`

[2020-10-20 01:49] shamsmosowi commented on #248
firetable CLI uses ```firebase projects:list``` then converts it into a single select interface, if your not seeing the project you might be logged in to the wrong account

[2020-10-20 02:06] dylangolow commented on #248
@shamsmosowi I can see it in my web console, but not with `firebase projects:list` any ideas on how to fix this?

[2020-10-20 02:13] shamsmosowi commented on #248
can you check the users and permissions tab on the firebase console, are you listed with an Owner Role? if you do have an owner role then i'm not sure what's wrong

[2020-10-20 03:44] dylangolow commented on #248
@shamsmosowi I do have the Owner role, and in fact the project even shows up when I run `firebase projects:list`

[2020-10-20 06:41] notsidney commented on #248
Could this be a pagination issue? @dylangolow do you have to scroll up/down to see the specific project you’re looking for?

[2020-10-20 12:06] dylangolow commented on #248
@notsidney I have tried scrolling and the list doesn't change. I still don't see the project in the list or anything.

[2020-10-20 12:24] notsidney commented on #248
Hi @dylangolow, I meant does the Fire_base_ CLI require you to scroll to see the specific project? If so, I think our CLI doesn’t properly handle this stdout output

[2020-10-20 22:32] mikob opened #249 "Invalid glob match expression. Glob matches are permitted as the last segment in a match declaration path."
The issue is with this part of the rules recommended here: https://github.com/AntlerVC/firetable/wiki/Role-Based-Security-Rules#required-firetable-rules

[code]

[2020-10-20 23:52] mikob commented on #249
Oops, was missing:
`rules_version = '2';`

[2020-10-20 23:52] #249 closed

[2020-10-21 02:24] dylangolow commented on #248
@notsidney I get a table indicating all the projects and which is active

[2020-10-21 04:44] mikob commented on #248
The issue is with the regex in src/lib/terminal.js:

`/(?<=│.*│ )[0-z,-]*(?= *│ \d)/g`

does not match when (current) follows the project id:
[code]

It also doesn't match the output for firebase-tools < 7 which don't include the project number in the table.

[2020-10-22 00:43] notsidney commented on #248
@mikob thanks for finding the issue! I’ve updated the regex in v1.1.4
[code]

We are not supporting firebase-tools < 8.

[2020-10-22 00:43] #248 closed

[2020-10-22 02:01] #235 closed

[2020-10-22 04:01] #234 closed

[2020-10-28 13:36] ggros opened #252 "Populate single select with values from another collection"
**Is your feature request related to a problem? Please describe.**
If you have a table with let's say orders tied to a client, I would need to be able to see the client name instead of the id.
Also ideally we should be able to edit the client an order is tied to.
I do not know if using Algolia connect field type would solve this issue but I would not want to setup Algolia just for this.

**Describ

[2020-10-28 23:46] notsidney commented on #252
Hi @ggros, are the order documents:
1. Created with the client document ID in a field already, outside of Firetable?
2. Or did you want to be able to link orders to a client directly on Firetable?

**If 1 and you don’t need to change which client is linked to an order on Firetable:**
- You can create a Derivative field, which runs a cloud function that puts a value in that field based on the clien

[2020-10-30 18:00] elvisun commented on #192
Still seeing this on v1.1.4

[code]

[2020-10-30 18:06] elvisun opened #253 "Unable to deploy when there's already firebase hosting in use"
**Describe the bug**
Have firebase hosting running my site already, trying to deploy firetable with the CLI.

[code]

But after visiting the URL no firetable is found

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Deploy something to firebase hosting
3. `firetable deploy`

**Expected behavior**
Show error and documentation on how to proceed.

[2020-10-31 11:08] notsidney commented on #219
Hi everyone, thanks for letting us know about this bug. I’m working on a new Import CSV wizard UI, which includes parsing date columns. We’ll be using date-fns’ `parseJSON` function, which supports a [bunch of formats similar to the ISO date string format](https://date-fns.org/v2.16.1/docs/parseJSON). Please note that it **assumes your date is in UTC time**, so if your CSV’s date is not in UTC and

[2020-10-31 11:08] #219 closed

[2020-11-01 01:55] notsidney commented on #192
This should be fixed in CLI v1.1.5

[2020-11-01 01:55] #192 closed

[2020-11-01 02:52] shamsmosowi commented on #253
Hi @elvisun
are you able to find abc.web.app listed under your sites when you go to the hosting in the firebase console?
https://console.firebase.google.com/u/0/project/abc/hosting

[2020-11-01 19:39] elvisun commented on #253
Yes I have firebase hosting setup to host a static site, so it points to the existing site

[2020-11-02 17:54] mellissatort opened #257 "Tabbing thru table cells does not automatically adjust the horizontal scroll bar"
**Describe the bug**
When a table has more cells than displayed on the screen, if the user is tabbing to the right thru the cells, the horizontal scroll bar does not move in line with the tabbing.  When the user tabs to the left the scroll bar does move in line with the tabbing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a table containing more columns than displayed in a window
2

[2020-11-03 04:34] notsidney commented on #257
Hi @mellissatort, this is fixed as part of an update to react-data-grid. It will be part of pull request #254 to be merged sometime this week.

[2020-11-03 04:34] #257 closed

[2020-11-05 21:08] zdebra opened #260 "Keyboard navigation is active while having focus in the input"
**Describe the bug**
There is apparently a keyboard navigation bug when a new item to the `Accessed By` field is being added. If you write `ADMIN` the input loses its focus and a button on the background is highlighted. This makes it impossible to input anything starting with `a`.

This is probably also happening for other characters involved in keyboard navigation if this is the source of the bug

[2020-11-07 01:06] shamsmosowi commented on #260
Thanks @zdebra for flagging this, it has been fixed in the latest release, which is available on the master branch now

[2020-11-07 01:06] #260 closed

[2020-11-08 09:47] liveaffiliates opened #261 "After table is created and site exited cannot reopen table, continual loading"
Hi, this is an awesome project thanks for taking the time to make it. It is very much needed.

**Describe the bug**
Upon first installation and table creation (both loading existing and new through csv) everything works as normal and the table is created.

Then after exiting from the hosting or local host where the table is created and reopening, the table does not get added to the menu and the ho

[2020-11-08 13:30] wzulfikar opened #262 "Missing key prop in Filters component"
Hi there, should there be a `key` prop in line 445? Thanks :)

https://github.com/AntlerVC/firetable/blob/75a0f03874c7de69095c13eedb0438e356f3732f/www/src/components/Table/Filters/index.tsx#L444-L446

[2020-11-09 00:59] notsidney commented on #262
Yes there should. Thank you!

[2020-11-09 00:59] #262 closed

[2020-11-09 01:07] notsidney commented on #261
Hi @liveaffiliates, it looks like the Firetable config isn’t being stored properly in your Firestore database. Could you please check that:
1. There is a document with the path `/_FIRETABLE_/settings/schema` that contains a `tables` field
2. If not, check that your Firestore Rules include our required rules: https://github.com/AntlerVC/firetable/wiki/Role-Based-Security-Rules#required-firetable-ru

[2020-11-09 19:34] mtford90 opened #263 "firetable init <folder> throws an error"
**Describe the bug**

[code]

**To Reproduce**

Run `firebase init <folder>`

**Expected behavior**

It creates the project in `<folder>`.

Or at least indicates what the `choices` parameter is supposed to contain.

**Additional context**

[code]

[2020-11-09 19:44] mtford90 opened #264 "Logging into firetable replaces user's existing auth credentials"
**Describe the bug**

Logging into firetable (using google auth) replaces other forms of authentication rather than adding to them. My user had password auth & phone number auth enabled but these were removed after logging into firetable.

**To Reproduce**

- Create an account on firebase with other forms of authentication e.g. password/phone number.
- Log into firetable.
- Observe loss of other f

[2020-11-10 02:27] notsidney commented on #263
Hi @mtford90, what was the message before you got the error? Did you get to the “Getting your Firebase projects” message?

[2020-11-10 08:52] mtford90 commented on #263
@notsidney that's correct

Here's the raw stdout output:

[code]

[2020-11-10 08:59] mtford90 commented on #263
Oh - weird.

So I only see this error if I try to initialise firetable within my monorepo.

If I initialise elsewhere on the filesystem, it seems to be fine....

[2020-11-10 09:10] notsidney commented on #263
@mtford90 can you try running `firebase projects:list` in that monorepo folder?

[2020-11-10 09:20] mtford90 commented on #263
@notsidney yep - there's a slight difference, namely the addition of `(current)`

Monorepo:

[code]

Elsewhere on the file system:

[code]

[2020-11-10 11:51] shamsmosowi commented on #263
Potentially a regex issue, I'll look into it

[2020-11-11 18:16] wzulfikar opened #265 "App name in manifest.json"
Hey there, should we change the name in `manifest.json` to "Firetable" / "Create Firetable App" accordingly (line 2-3)? Or it's intentionally left for the default "React App" / "Create React App Sample"?

https://github.com/AntlerVC/firetable/blob/75a0f03874c7de69095c13eedb0438e356f3732f/www/public/manifest.json#L1-L9

[2020-11-12 07:10] wzulfikar opened #266 "[UX] Add autofocus for corresponding cell when opening the right drawer"
**Is your feature request related to a problem? Please describe.**
It doesn't relate to a critical problem but it could improve the UX of the app.

**Describe the solution you'd like**
When I click a long text or a rich text, the right drawer (the editor) will open automatically _but_ I still need to click the corresponding field to start editing.

Is it possible to automate this? For example, whe

[2020-11-12 07:19] wzulfikar opened #267 "Should the tracking id be hardcoded?"
When I generate a project using `firetable init`, I noticed that the ga tracking id is hardcoded in index.html.
![Screenshot 2020-11-12 at 9 16 45](https://user-images.githubusercontent.com/7823011/98907675-2a989a00-24fa-11eb-9f65-93250a09b888.jpg)

That tracking id is the same as in https://try.firetable.io.
![Screenshot 2020-11-12 at 9 17 57](https://user-images.githubusercontent.com/7823011/989

[2020-11-12 07:45] notsidney commented on #266
@wzulfikar This has been on our to-do list for a while, but we’ll be working on consolidating column/cell type code for the table, side drawer, and settings first.

[2020-11-12 09:39] wzulfikar commented on #266
Cool! Thanks for the info. Looking forward to it 🚀

[2020-11-14 00:56] a-Leong commented on #234
Is it possible to add a row with a custom ID? If not, I'm happy to open a new ticket

[2020-11-15 04:33] notsidney commented on #234
Hi @a-Leong, we haven’t worked on implementing this yet, but we have a design ready. It must have slipped through when I implemented the ID field and closed this issue prematurely. Please create a new issue, thanks

[2020-11-16 13:04] liveaffiliates commented on #261
@notsidney Hi, thanks for that. Yes this was the problem. The individual collections only had write permissions on signed in. But there was not permission to create the new collections.

[2020-11-16 13:04] #261 closed

[2020-11-18 10:28] jfr3000 opened #268 "Number fields can't be left empty"
**Describe the bug**
When I have an empty number field, and edit any other field, the number field gets filled with "0". When I try to delete that value again, it displays `NaN`. I'd like to be able to leave number fields empty.

**To Reproduce**
Make a row with a text and a number field. Edit the text field in the edit view. The number field gets filled with 0.

**Expected behavior**
Number field

[2020-11-18 18:27] a-Leong opened #269 "Custom document IDs"
Related: #234

**Is your feature request related to a problem? Please describe.**
Currently there is no way to use a custom doc ID when creating a new row. My project utilizes custom doc IDs in some cases, and I would like to be able to handle these in Firetable.

**Describe the solution you'd like**
When creating a new row, an option provided to use a custom ID instead of the default generated ID

[2020-11-19 09:04] liveaffiliates opened #270 "Editing Number Changes it To String"
**Describe the bug**
When a number column is edited it will change the value to a string of that number in the database

**To Reproduce**
Steps to reproduce the behavior:
1. Import table from existing collection
2. Ensure it has a number type column
3. Create a new row
4. Edit column with a number

**Expected behavior**
If the column is set to number and all the other row data for the existing doc

[2020-11-23 14:40] #268 closed

[2020-11-23 14:40] #270 closed

[2020-11-27 15:16] alejandrombc opened #272 "Custom emails for login"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be great to have more alternatives to login than just google authentication. Many companies just doesnt work with gmail.

**Describe alternatives you've considered**
None

**Additional context**
None

[2020-11-28 14:26] Rohitbels opened #273 "Module not found: Can't resolve 'react-data-grid/lib/hooks'"
**Describe the bug**
Failed to compile.

./src/components/Table/ColumnHeader.tsx
**Module not found: Can't resolve 'react-data-grid/lib/hooks'** in 'D:\firetable\www\src\components\Table'

**To Reproduce**
I have the latest master pulled.
I did try deleting node_modules and reinstalling but no avail.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser chrome

cc: @s

[2020-11-29 05:42] notsidney commented on #273
Could you please check which version of react-data-grid is installed? Check the version field in `www/node_modules/react-data-grid/package.json`. Alos make sure you’re installing dependencies using yarn, since we don’t have an npm `package-lock.json` file

[2020-12-04 13:41] Rohitbels commented on #273
Did the trick

[2020-12-04 13:41] #273 closed

[2020-12-08 02:53] Andrew565 opened #276 ""Something went wrong" creating a new table"
**Describe the bug**
I'm setting up Firetable for the first time. Followed the "Getting Started" guide, used the Firetable CLI route, started up just fine, got an empty interface save for the "Create a new table" button, clicked it, and got "SOMETHING WENT WRONG
undefined is not an object (evaluating 'f[0]')".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Screen'
2. Click on 'C

[2020-12-09 00:45] willkuerlich commented on #276
![Same here](https://user-images.githubusercontent.com/8741947/101558565-8520fb00-39bf-11eb-9aeb-204b879b7031.png)

I noticed that the webhook url is prefixed with undefined...

![image](https://user-images.githubusercontent.com/8741947/101558779-fc568f00-39bf-11eb-93c0-806c51ed0d84.png)

Also I would like to mention that I am using a spark project without cloud functions, does this matter? - Is f

[2020-12-09 00:46] willkuerlich commented on #276
What kind of Firebase project Plan do you use?

[2020-12-09 09:26] mulyoved commented on #276
Having the same problem, Blaze plan (Pay as you go)

OS: Linux
New/Empty Firebase project, the only collection I have is _FT_USERS

[2020-12-09 16:48] willkuerlich commented on #276
Base on the error stack, the optionsProps array seems to be empty or missing. Right now I don't have the time, but I will investigate on this issue on the weekend. Has anyone a clue, what optionProps are expected there or where they would have been coming from usually?

[2020-12-10 03:03] GustavoMelo40 commented on #276
I believe it is related to some collection / document that is not present in the firebase. Take this once I created something in the firestore and solved it, some null / empty array field that is trying to access the first position

[2020-12-10 03:13] GustavoMelo40 commented on #276
The problem Multiseletic is the Rules Selector!

[2020-12-11 01:18] a-Leong commented on #233
@mayurdhurpate After some investigation I believe the functionality you're describing is already implemented, though I could be misunderstanding. Have you tried using the JSON column type and editing the value in the column-editing side menu? I am able to add and edit string and number arrays, maps with key-value pairs of different data types, etc.

<img width="935" alt="Screen Shot 2020-12-10 at

[2020-12-11 03:10] shamsmosowi commented on #276
It looks this is a bug when creating a new table for the first time, as it expects an array of tables to already exist, fixed on the RC branch atm

[2020-12-11 13:44] GustavoMelo40 commented on #276
Not work @shamsmosowi , same error =/

[2020-12-13 11:53] mayurdhurpate commented on #233
Yes, looks like now this feature is added. I just tried with different permutations, it works perfectly! Closing it.

[2020-12-13 11:53] #233 closed

[2020-12-14 09:33] ahmadalibaloch commented on #276
Same error, blaze plan, and everything setup.

[2020-12-14 10:08] mulyoved commented on #276
@shamsmosowi Fix form RC branch worked for me

[2020-12-14 11:18] ahmadalibaloch commented on #276
working fine on develop branch.

[2020-12-15 16:30] Twansparant commented on #276
I've got the same error, also with the develop/rc branch?

[2020-12-17 10:08] Twansparant commented on #276
Ah, when I manually add a collection named `_FIRETABLE_` with a `settings` document to my **Firestore**, all the errors are gone and I can create new tables!

[2020-12-17 15:34] GustavoMelo40 commented on #276
My error is in real a little different.
![Captura de Tela 2020-12-17 às 12 33 48](https://user-images.githubusercontent.com/23658837/102508436-25cc8600-4064-11eb-8db8-4cb7ae90dec0.png)

SOMETHING WENT WRONG
Cannot read property '0' of undefined

[2020-12-17 15:36] GustavoMelo40 commented on #276
Works!! I add _FIRETABLE_ with a settings, and in settings document, one empty array field 'tables', after this only Add New Roles

[2020-12-27 21:24] jfr3000 opened #286 "Subtables require cloud function?"
**Describe the bug**
I am trying to include a subcollection as a subtable. I can add the column, but when following the link, I am getting the "You don't have permissions to see the results." error message. I can see there is a request to `cloudfunctions.net/callable-setFiretablePersonalizedFilter`, but I don't have cloud functions enabled for my project. Is that necessary? The other columns are w

[2020-12-28 04:13] shamsmosowi commented on #286
Hi juila, the cloud function is not required. You need to make sure your firestore rules allow access to the subcollection. The current firetable behaviour is if the firestore rules rejects a request due to insufficient permission, firetable calls ```callable-setFiretablePersonalizedFilter``` cloud function to provide the query filters for the logged in user that would be permitted by firestore ru

[2020-12-28 10:25] jfr3000 commented on #286
Ah, thanks for the quick response! I must be making some silly mistake about the subcollection rule then. I _think_ I have them set correctly, but apparently not. Will keep poking around. Thanks for the great project!

[2020-12-28 10:26] #286 closed

[2020-12-28 15:36] jfr3000 commented on #286
(this turned out to be a typo in the field name :facepalm: )

[2021-01-06 13:50] Twansparant opened #289 "Missing Add Row button"
Hi there,

I'm just figuring everything out about Firetable (and also Cloud Firestore), but I'm loving it so far!

So maybe this is a dumb question, but do I understand correctly that you will only have the **Add Row** button when you have connected your table to a **Primary Collection**?

Because when I try to connect the table to a **Collection Group** inside a document, I only see the **Add Col

[2021-01-07 06:08] notsidney commented on #289
Hi Toine, a “collection group”-linked table uses a collection group query—you can learn more about those [here](https://firebase.googleblog.com/2019/06/understanding-collection-group-queries.html). So it returns documents with the *same collection name*. This allows us to query subcollections such as `restaurant/<docID>/reviews`.

Having the Add Row button here would require additional work, since

[2021-01-07 17:21] Twansparant commented on #289
Ok thanks for your elaborate answer, appreciate it!

[2021-01-13 21:34] a-Leong opened #293 "Ability to change default JSON from object to array"
**Is your feature request related to a problem? Please describe.**
When adding a JSON type column to a table, the default entry in new rows is an empty object. There is no way to configure this default entry to be an empty array. My current workaround strategy is to delete and re-add the property in Firestore with an empty array as its value. The empty array value is imported and can be worked wit

[2021-01-14 09:00] shamsmosowi commented on #293
good idea @a-Leong , I'll add it in #292

[2021-01-28 18:08] jfr3000 opened #296 "Wiki section on updating firetable is confusing"
Hi!

The wiki section on [updating firetable](https://github.com/AntlerVC/firetable/wiki/Updating-Firetable#rebuild-and-redeploy-firetable) states that users should run `firetable build`, but that command doesn't exist in CLI v1.1.6 ?
When I only run `deploy` it doesn't seem like there is an updated version (at least the bug that's been fixed is still there...) On that note, it would be nice if fi

[2021-02-16 15:41] rapejim commented on #263
@mtford90 Did you tried relogin on firebase-CLI, typing `firebase logout` and `firebase login`?

[2021-02-21 13:17] serwer20 opened #300 "FAILED: Could not find account with email"
**Describe the bug**
I've been trying to assign ADMIN role for the first time following this instruction:
https://github.com/AntlerVC/firetable/wiki/Role-Based-Security-Rules#set-user-roles-with-the-firetable-cli
BUT I'm always getting result like:
`FAILED:  Could not find account with email`

**To Reproduce**
Steps to reproduce the behavior:
1. `firetable init [dir]`
2. `firetable start`
3. http:

[2021-02-25 09:38] HieuTrLuu commented on #300
I am having the same problems

[2021-03-02 14:07] T4533N opened #303 ""FIRETABLE START" command not working"
![image](https://user-images.githubusercontent.com/44163644/109660293-e0afee80-7b92-11eb-96ba-f5df03f2ca7c.png)

[2021-03-02 18:51] turnono commented on #303
Use node v12

[2021-03-02 21:09] taseentanvir commented on #303
![image](https://user-images.githubusercontent.com/44163644/109715445-dbbc6080-7bcd-11eb-9a39-26a4067261c3.png)

[2021-03-09 07:44] haythoo opened #317 "ValidationError"
Hello

I created new project, using the cli, connected to my firebase account, downloaded the service account and did everything as per the instructions. I gave the ADMIN role to my email, which is created in the authentication section in firebase dashboard.

I started the project using the cli firetable start, I signed in using the email. Everything is working, the roles is there, the tables is t

[2021-03-10 01:56] notsidney commented on #317
Hi @haythoo, please update to v1.3.1. That version fixes this issue

[2021-03-10 01:56] #317 closed

[2021-03-11 12:56] #140 closed

[2021-03-11 13:00] shamsmosowi commented on #139
released in v1.3.0

[2021-03-11 13:00] #139 closed

[2021-03-11 15:31] ImJustChew opened #375 "REACT_APP_FIREBASE_PROJECT_WEB_API_KEY not filled by CLI"
**Describe the bug**
REACT_APP_FIREBASE_PROJECT_WEB_API_KEY is left blank in .env and caused Firebase to not work on sign in
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a firetable project with firetable init
2. run firetable start and wait for it to build
3. Google sign in will fail due to API KEY Error

**Expected behavior**
For firetable CLI to generate the .env file wit

[2021-03-11 21:05] B4129 opened #376 "【question】 How do I remove the _ ft _ createdBy and _ ft _ createdBy fields when retrieving documents from firstore?"
Hello. I am Japanese and cannot speak English, so I will write it through translation.

Columns such as _ ft _ createdBy are automatically registered when updating a document using Fireable, but all fields are retrieved when retrieving a document from firebase.
I want to exclude fields automatically generated by fireTable such as _ ft _ createdBy,but I don't know how.
Could you tell me if there is

[2021-03-23 15:14] #293 closed

[2021-03-24 08:20] weidongguo opened #402 "firetable metadata organization advice"
When we set up firetable for a Firebase project and create a table, we start seeing metadata collections (e.g. \_FIRETABLE\_, _FT_USERS) created in the top level of Firestore. These metadata are mixed up with existing data generated by the users of the app

1) Is there a way to group the metadata  up (e.g. Firetable/firetable/___)?, so then all the metadata along with the data entered through the

[2021-04-02 04:13] Gcarter17 commented on #303
did you ever find the fix for this?

[2021-04-02 04:22] Gcarter17 commented on #303
Uninstalling node v14 and getting v12 worked for me https://nodejs.org/en/blog/release/v12.13.0/

[2021-04-05 03:59] weidongguo opened #409 "Make JSON field's structure inheritable in new row"
**Is your feature request related to a problem? Please describe.**
In Firetable CMS, JSON field is used to realize what it's called map in Firestore.
Editing the JSON field is a nightmare as we need to repeat the same clicks (+) to set up the structure of the map for every new row

**Describe the solution you'd like**
(1). Can we make the JSON field's structure to be inheritable by new rows?
(2).

[2021-04-05 11:59] shamsmosowi commented on #409
have you tried using the default value configuration feature? it can be used to set an initial value for fields such as json when a new row is added

you can find it in the column settings in the dropdown menu

![image](https://user-images.githubusercontent.com/13803906/113571565-f749d980-9659-11eb-974d-3b5512434d18.png)

[2021-04-05 12:03] shamsmosowi commented on #402
Hi @weidongguo , we are looking into implementing your 1st suggestion, we'll probably move all the firetable metadata inside the _FIRETABLE_ collection

[2021-04-07 08:00] weidongguo commented on #409
Thanks for the suggestion. It certainly helps.

That being said, have we considered making a less-technical / more user-friendly GUI for editing Map?

[2021-04-08 02:47] shamsmosowi commented on #409
Yes, I think that would be pretty useful, definitely open to a pull request!
We have some useful docs on field types [here]( https://github.com/AntlerVC/firetable/wiki/Extending-Firetable:-Adding-a-Field-Type)

[2021-04-08 09:30] shamsmosowi commented on #409
you can also make individual map fields more user-friendly by adding them as their own columns
eg:
![image](https://user-images.githubusercontent.com/13803906/114002452-39fcf300-98a0-11eb-8bba-8934fa763655.png)

[2021-04-11 11:28] #276 closed

[2021-04-13 09:33] bmarkides opened #413 "Rich text is white font on white background in Windows dark mode"
**Describe the bug**
After setting my Windows system to 'dark mode,' I can no longer see the rich text in the side drawer editor (it appears to be white font on a white background).

**To Reproduce**
Steps to reproduce the behavior:
1. On a PC, set system settings to 'dark mode'
2. Open Firetable editing drawer to view rich text field
3. You can see the text if you highlight or edit source

**Expe

[2021-04-13 12:05] shamsmosowi commented on #413
Hi @bmarkides !

What's the version of Firetable you're currently using?

you can find it by clicking on your user avatar in the top right corner of the home screen,
![image](https://user-images.githubusercontent.com/13803906/114548577-4d92ca00-9ca3-11eb-8874-977470ee52ed.png)

Note if you don't see a version label, then your Firetable is outdated 😅 and I would recommend updating it

[2021-04-13 23:35] bmarkides commented on #413
Hi, @shamsmosowi, thanks for responding! I don't see the version though I did update yesterday - must not have been to the latest version. Will have another go at updating now. Cheers! :)

[2021-04-14 00:14] bmarkides commented on #413
It looks like I skipped the final update step of re-building. I just went to try, and I am seeing this error after inputting 'yarn build' in the www directory:

`$ react-scripts build
Failed to compile.

EPERM: operation not permitted, lstat 'D:\path-to-project\firetable\www\build\favicon\firetable.svg'

error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for docu

[2021-04-14 02:54] bmarkides commented on #413
Updating to the latest version solved the issue.

I did run into issue #375, which I resolved by manually editing the env file and rebuilding.

Thanks for such a great product! Cheers.

[2021-04-14 02:55] #413 closed

[2021-04-14 06:45] weidongguo opened #414 "How to add arrays?"
HOW DO WE ENTER ARRAY IN FIRETABLE?

The closest I can find it's Multi-select, which only takes strings of predefined options. It hints me that the user can enter custom values, but so far, I DON'T how to turn that option on.

How about array of integers?

Alternatively, I try JSON, but it doesn't seem like to allow array at the top level even when I turn on "Set as an Array" IN THE COLUMN

[2021-04-15 04:51] bmarkides opened #415 "CSV upload no longer working after update"
**Describe the bug**
I cannot upload a CSV file after upgrading to the latest version of Firetable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to collection table
2. Click on 'import CSV'
3. Either drag file or navigate using file explorer after clicking on CSV field
4. See that it CSV upload is not possible

**Expected behavior**
'Continue' button becomes clickable and CSV is upload

[2021-04-29 17:27] shriharip commented on #303
I think this is a workaround. But need a real solution..

[2021-04-29 17:56] shriharip opened #420 "Collections does not show up"
**Describe the bug**
Exisitng collections are not shown or not able to connect them
**To Reproduce**
Steps to reproduce the behavior:
1. install firetable using the directions given
2. run firetable start
3. now add tables and choose an exisiting colelction
4. nothing happens
5.
**Expected behavior**
Should fetch the rows and the data

**Screenshots**
![image](https://user-images.githubusercontent

[2021-04-29 18:03] #420 closed

[2021-04-29 18:03] shriharip commented on #420
I had some issues with caching and rules looks like

[2021-04-30 06:47] shriharip commented on #253
yes, facing the same issue

[2021-04-30 10:49] shriharip commented on #253
saw that the projects id property is not set properly . setting it using the firebase cli command inside the www folder will help

[2021-05-02 07:19] weidongguo opened #421 "Import multi-select field from .csv"
**Describe the bug**
Export your collection into a .csv. Import the same .csv file, you will notice that all Multi Select fields will become a string.

**To Reproduce**
Steps to reproduce the behavior:
1. Export a collection that has a MULTI SELECT field to a .csv
2. Import from the same .csv
3. MULTI SELECT field becomes a string

**Expected behavior**
Importing what was exported should take us b

[2021-05-04 04:55] shamsmosowi commented on #376
Hi, we don't currently have the option to disable the  ft _ createdBy / ft _ updatedBy  fields on firetable. But depending on what programming language you're using you can remove them after receiving the document data on you're front-end.
eg: if you're using javascript you use the [delete operator](https://www.w3schools.com/howto/howto_js_remove_property_object.asp)

[2021-05-04 04:55] #376 closed

[2021-05-04 05:07] shamsmosowi commented on #300
I think the problem is the email doesn't have a user account on firebase auth, you need to create the user in Firebase Auth before setting their roles, you can easily create user by signing into firetable for the first time, before running the command.

[2021-05-04 05:19] shamsmosowi commented on #415
Just to confirm, you're not reaching this state?
![image](https://user-images.githubusercontent.com/13803906/116963366-00c37180-acec-11eb-9e8f-002aeb373322.png)

[2021-05-04 06:51] shamsmosowi commented on #421
the multi-select was missing the CSV parser for splitting the string into an array, I have added it to the [rc branch](https://github.com/AntlerVC/firetable/tree/rc) you can give it try there

[2021-05-04 07:22] shamsmosowi commented on #265
updated, thanks for flagging it!

[2021-05-04 07:22] #265 closed

[2021-05-06 09:34] weidongguo commented on #421
It's not helping. Same problem is seen

[2021-05-07 18:55] tv42 commented on #402
I think putting Firetable things in the same database as the actual data risks having them show up in collection group queries. Relying on field&sub-collection names to be unique sounds like a ticking time bomb.

https://firebase.googleblog.com/2019/06/understanding-collection-group-queries.html

[2021-05-07 18:59] tv42 commented on #269
I have a project that uses a DNS domain name as a key in one place, to ensure only one owner can claim a domain successfully. That's the only mechanism I know of in Firestore to ensure uniqueness. I'm sure others have similar needs.

[2021-05-09 00:32] weidongguo commented on #421
Hi @shamsmosowi ,
It works. I didn't know I have to go into the www folder and then do a

[code]
to make your changes effective.

Simply doing a
firetable start with your `rc` branch isn't enough

[2021-05-10 01:58] harinij opened #425 "Export to csv fails on date field when data filters or sorting is on"
**Describe the bug**
When trying to export to csv from a table with a date field, if there is a filter on the data or if sorting is done on the date field, then export does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a table with a date and checkbox fields
2. Click on filter for checkbox field and turn it ON
3. Export data to csv with the date field in the list
4. See erro

[2021-05-17 12:45] shamsmosowi commented on #375
Hi @ImJustChew , thanks for reporting this. I've fixed the CLI, this shouldn't be an issue anymore, please make sure you're using v1.3.0 or above

[2021-05-17 12:45] #375 closed

[2021-05-17 12:47] shamsmosowi commented on #300
I've added functionality for prompting to creating a new account when the account doesn't exist, please make sure you're using v1.3.0 or above

[2021-05-17 12:47] #300 closed

[2021-05-22 12:49] catrawalkar opened #435 "Unable to find ft_build folder"
Hello

I am unable to find ft_build folder any where.

https://github.com/FiretableProject/firetable/wiki/FT-Functions#setting-up-cloud-run-ft-builder

Can you help me please @shamsmosowi

[2021-05-23 00:26] shamsmosowi commented on #435
Hi!
we are in the process of restructuring all the firetable cloud functions, so that's why it's not very documented and difficult to setup atm. ft_build is currently on the rc branch feel free to try it out. But it might change slightly in the future as we get it finalised

[2021-05-27 19:07] alejandrombc commented on #272
Any news about this? 👀

[2021-06-09 12:13] ncamaa opened #444 "Table Names / Sections are not visible on main dashboard"
**Describe the bug**
Table Names / Sections are not visible on the main dashboard aka http://localhost:5000
These tables were created using the same FT instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table using FT
2. Create some docs in the table (aka cols+rows)
3. Go to the main dashboard - http://localhost:5000
4. Table is not visible but is still accessible if you go t

[2021-06-11 04:12] notsidney commented on #272
Hi @alejandrombc, we’ve been focused on other projects, sorry.

@shamsmosowi I think it’s about time we [switch to Firebase UI](https://github.com/firebase/FirebaseUI-Web) for our auth – seems to be really easy to set up & use, from experience

[2021-06-11 04:20] alejandrombc commented on #272
Hi @notsidney! no problem keep your best 💪🏼.

The Firebase UI sounds really promising 👀, will wait for it!.

[2021-06-14 12:54] harinij commented on #444
@ncamaa This is now fixed in the rc branch for the tables to be visible to ADMIN users by default in the main dashboard.

[2021-06-14 12:54] #444 closed

[2021-06-14 13:50] bofeiw commented on #303
Try this before running firetable:
[code]

[2021-06-18 17:58] jonathan-chin commented on #228
any idea where this lands on the team's roadmap? I'm working on a non profit project and this abstraction could add so much value.

[2021-06-19 12:59] shamsmosowi commented on #228
This is probably a long term project. Currently firetable relies heavily on firebase auth and storage, and has some firestore specific features, making it hard to make into a generic database UI. For now, I suggest checking out [nocodb](https://github.com/nocodb/nocodb) it might be the right solution for you

[2021-06-26 10:46] #141 closed

[2021-06-26 11:08] harinij opened #461 "Extension: Twitter"
**Feature Request**
Spark for sending a tweets

**Additional context**
- To get started, read how extensions work in this [wiki](https://github.com/FiretableProject/firetable/wiki/Extensions).
- [Template](https://github.com/FiretableProject/firetable/blob/rc/ft_build/sparksLib/template.ts) for extensions
- Extension should to be added via PR to the [extensions library]( https://github.com/Firetab

[2021-06-26 21:41] rusakovic opened #464 "Extract JSON value in separate column"
**Is your feature request related to a problem? Please describe.**
The problem, that we need some specific value in JSON object, but not full information.
For example, for EXIF, we want to see only ISO column, no more
![image](https://user-images.githubusercontent.com/17801144/123526393-ded8e080-d6d7-11eb-8b3a-275a356650f6.png)

**Describe the solution you'd like**
Posibility to add path of JSON o

[2021-06-27 03:07] bofeiw commented on #464
You might want to try adding a new column with type derivative. Try the rc branch, it has more helpful info when when you use it.

[2021-06-28 14:24] harinij opened #466 "Extension: Mailgun"
**Feature Request**
Spark to send email using mailgun

**Additional context**
- To get started, read how extensions work in this [wiki](https://github.com/FiretableProject/firetable/wiki/Extensions).
- [Template](https://github.com/FiretableProject/firetable/blob/rc/ft_build/sparksLib/template.ts) for extensions
- Extension should to be added via PR to the [extensions library]( https://github.com/

[2021-06-28 14:25] harinij opened #467 "Integration: Snowflake"
**Feature Request**

Create data table entry in snowflake

**Additional context**
- To get started, read how extensions work in this [wiki](https://github.com/FiretableProject/firetable/wiki/Extensions).
- [Template](https://github.com/FiretableProject/firetable/blob/rc/ft_build/sparksLib/template.ts) for extensions
- Extension should to be added via PR to the [extensions library]( https://github.

[2021-06-28 14:25] harinij opened #468 "Extension: Notion"
**Feature Request**

Create a new record in Notion

**Additional context**
- To get started, read how extensions work in this [wiki](https://github.com/FiretableProject/firetable/wiki/Extensions).
- [Template](https://github.com/FiretableProject/firetable/blob/rc/ft_build/sparksLib/template.ts) for extensions
- Extension should to be added via PR to the [extensions library]( https://github.com/Fir

[2021-06-28 14:26] harinij opened #469 "Extension: Discord"
**Feature Request**
Send message in a Discord Channel

**Additional context**
- To get started, read how extensions work in this [wiki](https://github.com/FiretableProject/firetable/wiki/Extensions).
- [Template](https://github.com/FiretableProject/firetable/blob/rc/ft_build/sparksLib/template.ts) for extensions
- Extension should to be added via PR to the [extensions library]( https://github.com/

[2021-07-09 03:38] notsidney opened #476 "Ability to undo hide column for everyone in UI"
**Is your feature request related to a problem? Please describe.**
You can hide a column for everyone in the column menu, but to undo this, you have to edit the Firetable configuration in Firestore

**Describe the solution you'd like**
Add an option to unhide in Table Settings modal

[2021-07-14 05:42] harinij opened #477 "Multiple table views for same collection"
**Is your feature request related to a problem? Please describe.**
Currently a collection can have only one table view.

**Describe the solution you'd like**
It would be good to have same collection show as different tables with different subset of fields to be show. This enables users with specific roles to be assigned to relevant table for them.

[2021-07-14 06:16] harinij opened #478 "Scrolling on table view and the sidebar to be in sync"
**Is your feature request related to a problem? Please describe.**
Currently, when I scroll up or down in the table view using the keyboard while the sidebar is open, the contents of the sidebar do not update.

**Describe the solution you'd like**
Either the contents of the sidebar should be responsive to the key movement based on the cell highlighted in the table view or should be collapse. Perha

[2021-07-14 14:35] bofeiw opened #480 "Support geolocation Firestore datatype"
**Is your feature request related to a problem? Please describe.**
Currently the geolocation datatype in Firebase is not supported in Firetable.

**Describe alternatives you've considered**
JSON field can be an alternative temporarily.

**Additional context**
https://github.com/FiretableProject/firetable/discussions/479

[2021-07-14 14:37] bofeiw opened #481 "Support Firebase geolocation data type"
### Discussed in https://github.com/FiretableProject/firetable/discussions/479

<div type='discussions-op-text'>

<sup>Originally posted by **hariprasadms** July 14, 2021</sup>
Hi, I am looking to store geolocation details. Looks like there is no data type yet available in firetable as of now. Please suggest how to do this.</div>

[2021-07-14 14:37] bofeiw commented on #480
Moving to #481

[2021-07-14 14:37] #480 closed

[2021-07-21 07:00] harinij opened #483 "Column fields adding process needs UI update"
The following column fields are two-step in their setup process and their setup is not complete until both steps are completed. The UI needs to be updated to reflect the same. These columns should not be setup until the two steps of the config are complete. Suggested solution is when a new column is added the "Next" button for the following two step fields should be "Next" to take to the second sc

[2021-07-29 04:59] alejandrombc commented on #272
Any news? 👀

[2021-07-29 11:53] shamsmosowi commented on #272
YES! the firebase ui is now available on master, you can select the the auth options you would like to enable using the fireable project settings
![Screen Shot 2021-07-29 at 9 50 18 pm](https://user-images.githubusercontent.com/13803906/127487234-4a5979e6-cd54-4c4a-8136-db3f573f5a1f.png)

[2021-07-29 11:53] #272 closed

[2021-07-29 11:55] shamsmosowi commented on #237
released in v1.4

[2021-07-29 11:55] #237 closed

[2021-07-29 11:56] shamsmosowi commented on #267
removed

[2021-07-29 11:56] #267 closed

[2021-08-02 00:41] shamsmosowi commented on #435
Ft_build folder is now move to separate repo to simplify the deployment process [here](https://github.com/FiretableProject/FunctionsBuilder)

[2021-08-02 00:41] #435 closed

[2021-08-03 18:56] zakblacki opened #492 "latest version not compatible with node 14"
Update required can't install this with latest node

[2021-08-04 02:28] notsidney commented on #492
Fixed in Firetable CLI v1.5.1 https://github.com/FiretableProject/firetable-cli/issues/3

[2021-08-04 02:28] #492 closed

[2021-08-04 08:13] zakblacki opened #494 "Documentation not clear"
Where do we put the json file exactly ?

'PROJECT-ID-firebase-adminsdk-ALPHANUMERIC-CHARACTERS.json'

and `firetable auth:setRoles your_account@gmail.com` ADMIN  command is not working for me

[2021-08-04 09:05] bofeiw commented on #494
Put it under the root path of firetable, and run the command under the same directory.

What output do you see in the console?

[2021-08-04 09:36] zakblacki commented on #494
I'm getting 'firetable' is not recognized as an internal or external command,
operable program or batch file.

[2021-08-04 15:05] bofeiw commented on #494
This means the firetable CLI isn't installed correctly on your local machine.

Please run `yarn global add firetable` to install it globally in your machine.

[2021-08-04 15:05] #494 closed

[2021-08-04 15:53] zakblacki commented on #494
Already did that, it didn't help
![image](https://user-images.githubusercontent.com/29728429/128213265-b9f1fe9e-3d40-400d-b119-b1a1d816cf96.png)

[2021-08-05 14:27] bofeiw commented on #494
Yes, you need to make sure that the PATH is set correctly. Related issue: https://github.com/yarnpkg/yarn/issues/1648

[2021-08-05 16:50] zakblacki commented on #494
Okay thanks this one resolved, but I have another issue now,  why is it empty where are my collection fields
![image](https://user-images.githubusercontent.com/29728429/128389481-24ab7e48-2c1c-4bce-9cbd-ece379eb74c9.png)

[2021-08-06 07:24] bofeiw commented on #494
You need to click "create table" to add tables.

[2021-08-06 09:42] zakblacki commented on #494
Where do I find the options to import my data directly ?

[2021-08-06 10:15] bofeiw commented on #494
After you a create table, you will see the option to import columns in that table. We will add more documentation on this.

[2021-08-08 13:04] n-sviridenko opened #495 "Disable analytics"
Hi guys,

it'd be great to enable user to disable analytics and explicitly mention that Firetable uses it.

Thanks.

[2021-08-12 11:39] n-sviridenko commented on #161
Single select writes the data in both the old and the new ways. For example, if the field name is `project.name`, in the db it'll look like:

[code]

[2021-08-12 11:41] n-sviridenko opened #497 "Bug: [Select field] Column names to allow for nested Objects fieldtype"
I was unable to reopen another issue (https://github.com/FiretableProject/firetable/issues/161#issuecomment-897567508), so I'm opening a new one.

[2021-08-12 12:52] murat0 commented on #161
Not just single select - when I try and add a nested field with a type using "parent.child" notation I get duplicate entries in firestore.

[2021-08-12 12:54] murat0 commented on #497
I have been experiencing the same thing. When I try and add a nested field with one of the pre-defined types (using "parent.child" notation in field key) I get duplicate entries in Firestore.

[2021-08-31 02:53] harinij commented on #483
Released for derivatives

[2021-08-31 02:59] #134 closed

[2021-09-07 04:52] shreyas-jadhav opened #503 "Missing Node error on Ubuntu, even when node is installed"
**Describe the bug**
I'm getting the following error of missing node. But clearly my system has node installed. Not sure why it's failing to detect.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. `sudo firetable init ./truffll-firestore` on Lubuntu
2. See error

**Expected behavior**
Should init without giving node error

**Screenshots**
![image](https://user-images.githubusercontent.

[2021-09-18 14:29] n-sviridenko opened #504 "Change the doc reference format"
Currently, the doc reference is an array of the document snapshots which are impossible to query by if needed to filter the entities which are having those.

I.e. I have a collection with candidates:

[code]

They look user-friendly inside firetable, but I'm unable to query candidates by a specific job, as I have to filter them by the entire object (`where('job', 'array-contains', {"docPath":"jobs

[2021-09-18 18:58] grind-t commented on #414
I have the same problem, JSON "Set as an array" option doesn't change anything. How can I make the "root" property an array?

[2021-09-20 02:04] shamsmosowi commented on #414
Yes, It looks like set as an array config in the json field is broken , will be fix in the next release this week 🤞

[2021-09-25 13:36] kkhitesh opened #506 "Add a Contributing.md file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It's good to add a contributing file, to guide the folks coming to project.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise d

[2021-09-26 12:40] n-sviridenko commented on #504
@shamsmosowi @notsidney

[2021-09-26 13:16] shamsmosowi commented on #504
Hi @n-sviridenko , while its not ideal currently the easiest way to solve firestore query limitations is by adding derivative column that can transform the original column into something that is easier to query, you can find an example in the docs [here](https://docs.rowy.io/field-types/derivative#basic-use-case).
We are considering multiple options to make it possible to query, such as allowing "

[2021-09-28 06:48] harinij opened #508 "Reorder items in Image and File fields"
**Is your feature request related to a problem? Please describe.**
Currently the Images and FIle fields display the content in the order in which the documents were created.
<img width="340" alt="Screen Shot 2021-09-29 at 12 34 43 am" src="https://user-images.githubusercontent.com/307298/135108543-943f54cd-54a5-4ad5-9ca5-beba95928da0.png">

**Describe the solution you'd like**
The images and files

[2021-09-28 06:48] harinij opened #509 "Improve the json field editor on the side bar"
**Is your feature request related to a problem? Please describe.**
Currently, for the JSON column field, the editing experience in the side drawer on the right is not great. Users have to click on the field value, make the change and then press the save button.
<img width="499" alt="Screen Shot 2021-09-28 at 10 49 17 pm" src="https://user-images.githubusercontent.com/307298/135095933-a31ff294-3ff8

[2021-09-28 06:56] harinij commented on #464
@rusakovic This is now possible. All you have to do is create another column with the column type you want and make the column's Field Key to be jsonfieldname.field value i.e. in your example: exif.iso

See the screenshot below. We also have released a brand new version with tons of other features that you can try out using this easy deploy link to migrate to the new version. Try it out on your ex

[2021-09-28 06:56] #464 closed

[2021-09-28 13:26] harinij commented on #509
**Is your feature request related to a problem? Please describe.**
Currently, for the JSON column field, the editing experience in the side drawer on the right is not great. Users have to click on the field value, make the change and then press the save button.

<img width="479" alt="Screen Shot 2021-09-28 at 10 49 06 pm" src="https://user-images.githubusercontent.com/307298/135090216-4e1bc671-650

[2021-09-28 13:35] harinij commented on #142
Feature added to Table settings

[2021-09-28 13:42] harinij commented on #204
Bug fixed in the latest release. Closing the issue for now, please raise again if it is still relevant.

@kristiankyvik Check out our latest easy deployment [link](https://rowy.app/deploy) to migrate to Rowy and do join our discord community if you haven't [already](https://discord.com.gg/B8yAD5PDX4) :)

[2021-09-28 13:42] #204 closed

[2021-09-28 13:52] harinij commented on #303
We have retired the CLI command and moved towards an easy deploy link to get you set up fast. Give it try here: [1-click deploy](https://rowy.app/deploy)

@Gcarter17 @turnono @T4533N 🙏

[2021-09-28 13:52] #303 closed

[2021-09-28 14:38] harinij commented on #503
Hi @shreyas-jadhav we have retired the CLI command and moved towards this quick deploy link to get you set up fast and easily. Give it try here: [1-click deploy](https://rowy.app/deploy)

[2021-09-28 14:38] #503 closed

[2021-09-28 14:43] harinij commented on #296
Hi @jfr3000 we have retired the CLI command and moved towards this quick deploy link to get you set up fast and the updates should be far more easier. Give it try here: [1-click deploy](https://rowy.app/deploy)

[2021-09-28 14:43] #296 closed

[2021-09-29 02:04] harinij opened #512 "Derivatives and extensions creation needs option to force run on historical data"
**Is your feature request related to a problem? Please describe.**
Currently on the creation of derivatives, requires a force rerun of the function for past data. There are limitations with timeout and UI for it doesn't suggest doing it while it is being built.

**Describe the solution you'd like**
Move the process to cloud run and in the process of creation of functions, ask for if you want to fo

[2021-09-29 10:08] harinij opened #513 "Rating field - Add customization options"
**Is your feature request related to a problem? Please describe.**
Currently, the "Rating" field does not have customization.
<img width="668" alt="Screen Shot 2021-09-29 at 8 07 29 pm" src="https://user-images.githubusercontent.com/307298/135248713-a2a90437-8447-454f-9923-59fe3ad49cb5.png">

![image](https://user-images.githubusercontent.com/47289133/190283845-fb53c9b5-8907-407e-9e31-b58aef2ab02a

[2021-09-29 10:17] harinij opened #514 "ROWY-135: Select and Multiselect Fields need color selection for fields"
**Is your feature request related to a problem? Please describe.**
Currently "Select" and "Multiselect" fields do not have the ability to add color to the option chips being. Only values such as "Yes" "No" "Maybe" are hard coded to be Green, Red and Yellow.
<img width="192" alt="Screen Shot 2021-09-29 at 8 11 04 pm" src="https://user-images.githubusercontent.com/307298/135249524-54a0bdc0-6ecf-4614

[2021-09-29 11:13] harinij opened #515 "Allow reordering of Select and Multiselect field options"
**Is your feature request related to a problem? Please describe.**
Currently the options listing of Select and Multiselect fields is not reorderable.
<img width="938" alt="Screen Shot 2021-09-29 at 9 12 44 pm" src="https://user-images.githubusercontent.com/307298/135257639-01829e29-80a1-47b5-8b51-f33caaa5697f.png">
<img width="959" alt="Screen Shot 2021-09-29 at 9 12 34 pm" src="https://user-image

[2021-09-29 12:00] harinij commented on #209
@jonathan-chin We finally have this feature released now. You can get the latest version of Rowy by using this easy deploy link on your Firestore project: [rowy.app/deploy](https://rowy.app/deploy). Try it out and we would love to get your feedback, join us on [Discord](https://discord.com/invite/B8yAD5PDX4) 🙏

[2021-09-29 12:00] #209 closed

[2021-09-29 12:22] shamsmosowi commented on #425
@harinij is this still broken?

[2021-09-29 12:22] #415 closed

[2021-09-29 12:26] shamsmosowi commented on #263
you can use the cloud run deploy button that runs in cloud shell, Which provides a more consistent environment

[2021-09-29 12:26] #263 closed

[2021-09-29 12:28] shamsmosowi commented on #253
You can use the deploy on cloud run button now, for more reliable simplified deployment experience

[2021-09-29 12:28] #253 closed

[2021-09-30 04:27] notsidney commented on #497
Hi, this is fixed as of [v2.0.0](https://github.com/rowyio/rowy/releases/v2.0.0)

You can migrate the latest version of Rowy by using this easy deploy link on your Firestore project: [rowy.app/deploy](rowy.app/deploy). Try it out and we would love to get your feedback [on Discord](https://discord.gg/B8yAD5PDX4) 🙏

[2021-09-30 04:27] #497 closed

[2021-09-30 04:27] notsidney commented on #161
Hi, this is fixed as of [v2.0.0](https://github.com/rowyio/rowy/releases/v2.0.0)

You can migrate the latest version of Rowy by using this easy deploy link on your Firestore project: [rowy.app/deploy](rowy.app/deploy). Try it out and we would love to get your feedback [on Discord](https://discord.gg/B8yAD5PDX4) 🙏

[2021-09-30 04:27] #161 closed

[2021-09-30 04:47] notsidney commented on #402
Hey @weidongguo, as part of the [v2.0.0](https://github.com/rowyio/rowy/releases/v2.0.0) release: config is now stored in one top-level collection, `_rowy_`. You’ll need to perform a migration since this a breaking change, but we have a setup UI to copy the old config to this new location. After that, you can delete any top-level collections from before.

You can migrate the latest version of Rowy

[2021-09-30 04:47] #402 closed

[2021-09-30 04:53] notsidney commented on #504
Hi @n-sviridenko, our current plan is to add a setting for Connect Table to store a single value in the next release in October, so you can filter by `job.docPath`.

The default would be an array:
[code]

and with single values:
[code]
or if the value is cleared:
[code]
This matches the values returned by Single Select.

[2021-09-30 15:22] shamsmosowi commented on #414
fixed in v2

[2021-09-30 15:22] #414 closed

[2021-09-30 16:02] harinij opened #517 "Toggle field - Add customization options"
**Is your feature request related to a problem? Please describe.**
Currently, the "Toggle" field doesn't have customization to change the color from green to anything else

**Describe the solution you'd like**
Allow in the UI option for users to add color using the color pick modal similar to what is used in the percentage field
![Screenshot 2023-04-20 at 7 07 44 pm](https://user-images.githubuser

[2021-09-30 16:06] yasinbordbar commented on #517
Please assign me to do this.

[2021-09-30 16:22] harinij opened #518 "Percentage Field - Add customization option"
**Is your feature request related to a problem? Please describe.**
Currently, the "Percentage" field does have customization to change the color from red for 0% and green for 100% to anything else
<img width="198" alt="Screen Shot 2021-10-01 at 2 22 33 am" src="https://user-images.githubusercontent.com/307298/135493705-cf8c540d-5abe-4bad-92eb-6afcdb195c67.png">

**Describe the solution you'd like*

[2021-09-30 16:25] harinij opened #519 "Slider Field - Add customization option"
**Is your feature request related to a problem? Please describe.**
Currently, the "Slider" field does have customization to change the color from red for 0% and green for 100% to anything else
<img width="181" alt="Screen Shot 2021-10-01 at 2 24 33 am" src="https://user-images.githubusercontent.com/307298/135494022-679f2c44-b24a-497c-833d-6488e8ace906.png">

**Describe the solution you'd like**
Ab

[2021-09-30 16:27] harinij opened #520 "Date Field - Viewing format picker"
**Is your feature request related to a problem? Please describe.**
Currently, date field is show by default in dd/mm/yyyy format.
<img width="187" alt="Screen Shot 2021-10-01 at 2 27 04 am" src="https://user-images.githubusercontent.com/307298/135494417-8edd9ec7-e02c-40ed-bab8-ec0742afefd0.png">

**Describe the solution you'd like**
Add ability to pick the format to be shown in the table column

[2021-10-01 01:29] harinij opened #521 "Ability to edit "Slider" field in the table view"
**Is your feature request related to a problem? Please describe.**
Currently, the slider field is only editable in the side drawer.

**Describe the solution you'd like**
Ability to edit slider field in the main table view similar to the attached image using [mui](https://mui.com/)
<img width="100" alt="Screen Shot 2021-10-01 at 11 28 16 am" src="https://user-images.githubusercontent.com/307298/135

[2021-10-01 06:41] harinij opened #522 "Field Filter UI update - Date and Datetime field"
**Is your feature request related to a problem? Please describe.**
Currently, the Filter feature on the top left of the table, does not support date and datetime picker for date/datetime field.

**Describe the solution you'd like**
Update the UI to support this. ou can read about all the fields [here](https://docs.rowy.io/field-types/supported-fields) and how fields are structured [here](https://d

[2021-10-01 06:46] harinij opened #523 "Field Filter UI update - Color Field"
**Is your feature request related to a problem? Please describe.**
Currently, the Color field is not supported in the "Filter" feature on the top left of the table

![Screen Shot 2021-10-01 at 4 45 09 pm](https://user-images.githubusercontent.com/307298/135577149-0ad7cf96-e0eb-41ac-819d-38b3a3f55325.png)

**Describe the solution you'd like**
Add a color picker in the UI to allow for this field to

[2021-10-01 06:47] harinij opened #524 "Field Filter UI update - Rating field"
**Is your feature request related to a problem? Please describe.**
Currently, the Filter feature on the top left of the table, does not support rating field

**Describe the solution you'd like**
Update the UI to support this. You can read about all the fields [here](https://docs.rowy.io/field-types/supported-fields) and how fields are structured [here](https://docs.rowy.io/field-types/add)
![Scree

[2021-10-01 06:49] harinij opened #525 "Field Filter UI update - Slider field"
**Is your feature request related to a problem? Please describe.**
Currently, the Filter feature on the top left of the table, does not support slider field.

![Screen Shot 2021-10-01 at 4 49 22 pm](https://user-images.githubusercontent.com/307298/135577595-586f292e-f317-41a4-a9e4-380d69109f02.png)

**Describe the solution you'd like**
Update the UI to support this. You can read about all the fiel

[2021-10-01 06:50] harinij opened #526 "Field Filter UI update - Percentage field"
**Is your feature request related to a problem? Please describe.**
Currently, the Filter feature on the top left of the table, does not support the percentage field.

**Describe the solution you'd like**
Update the UI to support this. You can read about all the fields [here](https://docs.rowy.io/field-types/supported-fields) and how fields are structured [here](https://docs.rowy.io/field-types/add

[2021-10-01 06:55] harinij opened #527 "Field Filter UI update - Status field"
**Is your feature request related to a problem? Please describe.**
Currently, the Filter feature on the top left of the table, does not support status field.
![Screen Shot 2021-10-01 at 4 55 04 pm](https://user-images.githubusercontent.com/307298/135578257-88e17dd1-c1e8-4a86-8ce4-5bdcb92dbded.png)

**Describe the solution you'd like**
Update the UI to support this. You can read about all the field

[2021-10-01 06:58] harinij opened #528 "Field Filter UI update - Single and Multi select"
**Is your feature request related to a problem? Please describe.**
Currently, the single and multi select field's filter does not support "not equal to" option and only supports equal to or matches one of.
![Screen Shot 2021-10-01 at 4 58 20 pm](https://user-images.githubusercontent.com/307298/135578568-d8c7c890-30ed-4c58-aa37-78cd40aeced5.png)

**Describe the solution you'd like**
Add ability to

[2021-10-01 07:18] harinij opened #529 "Field Filter UI update - Duration"
**Is your feature request related to a problem? Please describe.**
Currently, the Filter feature on the top left of the table, does not support duration field.
![Screen Shot 2021-10-01 at 5 16 47 pm](https://user-images.githubusercontent.com/307298/135580609-e8f0eae0-c464-40e7-ae43-bd865fe16f28.png)

**Describe the solution you'd like**
UI needs to support, greater than, less than duration value f

[2021-10-01 08:06] harinij opened #530 "Update reload screen copy"
**Is your feature request related to a problem? Please describe.**
Currently, when there is an update or new version of the project, the following screen is displayed that which is not ideal experience with a "Loading chunk 72 error". This error is only when a new version is available and the users should refresh the screen. This is not a real error.
![Screen Shot 2021-10-01 at 12 38 43 pm](https:

[2021-10-01 08:25] harinij opened #531 "Fix the CSS issue of Import CSV screen"
**Is your feature request related to a problem? Please describe.**
There are a few CSS issues on the Import CSV's second screen as shown below, with alignment and scrollbar that needs to be fixed
![Screen Shot 2021-10-01 at 11 43 54 am](https://user-images.githubusercontent.com/307298/135589182-1a474b9d-fdae-4064-bffe-c332d5e46e74.png)

**Describe the solution you'd like**
Fix CSS issues as highli

[2021-10-01 08:28] harinij opened #532 "Profile personalization option - Name+Profile Photo"
**Is your feature request related to a problem? Please describe.**
Profile needs name and profile photo personalization options support
![Screen Shot 2021-10-01 at 6 28 14 pm](https://user-images.githubusercontent.com/307298/135589603-e5c0058a-6a17-4975-a20c-fbfc6b643cac.png)

[2021-10-01 08:35] harinij opened #533 "Drag and Drop fill for Text, Numbers and other fields"
**Is your feature request related to a problem? Please describe.**
Drag and drop ability to copy values from one cell to another similar to the feature in excel or google docs. React data grid supports this feature. Enable and make this option workable such that it is copied over from one cell to rest of the cells below that it is dragged to. Previously we had this option however it is alpha versi

[2021-10-01 08:38] harinij opened #534 "Add Ref Field"
**Is your feature request related to a problem? Please describe.**
Firebase supports ref (reference) field which we do not support yet. Also, if this data is available in the data collection now, then side drawer is broken for this row.

![Screen Shot 2021-10-01 at 11 30 47 am](https://user-images.githubusercontent.com/307298/135590915-0b6d7810-a2a2-4926-8249-676430db7e43.png)

**Describe the solu

[2021-10-01 08:40] harinij opened #535 "Add Geolocation Field"
**Is your feature request related to a problem? Please describe.**
Currently we do not support geolocation field which is supported by Firebase.
![Screen Shot 2021-10-01 at 11 30 59 am](https://user-images.githubusercontent.com/307298/135591245-2f3ba0f3-2ce4-40b8-a519-1fb08e1eb1ae.png)

**Describe the solution you'd like**
Add support for it, ideally, the UI for inputting the geolocation should su

[2021-10-01 08:42] harinij commented on #481
moved to #535

[2021-10-01 08:42] #481 closed

[2021-10-01 08:46] harinij opened #536 "Import CSV Step 1 - Suggest field names"
**Is your feature request related to a problem? Please describe.**
Currently when you try to import a CSV, in the step 1 it requires you to map the column headers of csv to the fields in Rowy. Instead if these fields match it should try to guess these field names and recommend.

**Describe the solution you'd like**
When a column header matches a field name in Rowy table, then suggest and add that

[2021-10-01 08:48] harinij opened #537 "Bug in RichText field Headers option"
**Is your feature request related to a problem? Please describe.**
Currently, when someone tries to edit a RichText field in the side drawer, the headers drop down list has a CSS color issue where it is all white in light and dark mode. Needs to fixed

![Screen Shot 2021-10-01 at 11 37 35 am](https://user-images.githubusercontent.com/307298/135592263-b5ba4e7c-05e1-4375-93a3-e72c52fd7b4e.png)

[2021-10-01 08:50] harinij opened #538 "Field Feature - Numbers field needs min and max options"
**Is your feature request related to a problem? Please describe.**
The numbers field settings needs an option where optionally users can limit numbers to within a Min and Max range
![Screen Shot 2021-10-01 at 6 49 56 pm](https://user-images.githubusercontent.com/307298/135592541-c1a9f820-63e6-4220-ba9b-e15cb66ab740.png)

[2021-10-01 08:52] harinij opened #539 "Image field settings - add ability to toggle compress on/off"
**Is your feature request related to a problem? Please describe.**
Currently we support compression by default for image field. Add ability for users to turn it off in the Image settings if they do not want a compression

[2021-10-01 09:01] harinij opened #540 "Rating Field update - Combine 2 steps of field setup with "Next" button"
**Is your feature request related to a problem? Please describe.**
Rating fields has two-step in their setup process and their setup is not complete until both steps are completed. The UI needs to be updated to reflect the same i.e after completion of step 1 say "next" to take to the settings of the field before it is added. (See derivatives field for example).

Rating should not be setup until th

[2021-10-01 09:03] harinij opened #541 "Slider Field update - Combine 2 steps of field setup with "Next" button"
**Is your feature request related to a problem? Please describe.**
Slider fields has two-step in their setup process and their setup is not complete until both steps are completed. The UI needs to be updated to reflect the same i.e after completion of step 1 say "next" to take to the settings of the field before it is added. (See derivatives field for example).

Slider should not be setup until th

[2021-10-01 09:14] harinij opened #542 "Connect Table Field update - Combine 2 steps of field setup with "Next" button"
**Is your feature request related to a problem? Please describe.**
Connect Table fields has two-step in their setup process and their setup is not complete until both steps are completed. The UI needs to be updated to reflect the same i.e after completion of step 1 say "next" to take to the settings of the field before it is added. (See derivatives, status field for example where this next button

[2021-10-01 09:16] harinij opened #543 "Http Connect Table Field update - Combine 2 steps of field setup with "Next" button"
**Is your feature request related to a problem? Please describe.**
Http Connect Table fields has two-step in their setup process and their setup is not complete until both steps are completed. The UI needs to be updated to reflect the same i.e after completion of step 1 say "next" to take to the settings of the field before it is added. (See derivatives, status field for example where this next bu

[2021-10-01 09:42] harinij opened #544 "Copy/Cut/Paste feature in table view"
Allow for field cells to be copied/cut or pasted with keyboard shortcuts to other fields.

Ensure there is logic applied when one field is copied to another field to check compatibility.
i.e.
- copy json field -> past to long text - stringify the data
- copying fields like rating should copy the value of the field
- don't allow incompatible fields

Rowy uses [react-data-grid](https://github.com/ad

[2021-10-01 11:41] harinij commented on #506
Contributing.md has now been added

[2021-10-01 11:41] #506 closed

[2021-10-01 11:45] harinij commented on #264
@mtford90 This has been fixed in the recent release with support for multiple auth options. Give it a try with the easy deploy link: [rowy.app/deploy](https://rowy.app/deploy)

[2021-10-01 11:45] #264 closed

[2021-10-01 16:00] harinij opened #545 "Update the Duration Field - Input UI"
**Is your feature request related to a problem? Please describe.**
Currently, the Duration Field is alpha feature and not editable.

![Screen Shot 2021-10-02 at 1 58 57 am](https://user-images.githubusercontent.com/307298/135651517-0f7ca0f4-5b8d-4bc9-80c2-df2115cc77fa.png)

**Describe the solution you'd like**
Add UI for adding duration field with start and end date time picker and calculated dura

[2021-10-01 16:13] #520 closed

[2021-10-01 16:15] notsidney opened #546 "Status field - show dropdown in the table cell & side drawer"
**Is your feature request related to a problem? Please describe.**
Currently the Status field is not editable in either the table cell or side drawer field.
![image](https://user-images.githubusercontent.com/27017118/135653605-bbace4fb-0efc-4060-98d7-1f8d6c469b58.png)

**Describe the solution you'd like**
Add the ability to edit the field value using a dropdown, like the single select field

[2021-10-01 16:40] ParimalaKonduru commented on #545
I would like to work on this.

[2021-10-01 17:16] yashodha03 commented on #541
I would like to work on this issue.

[2021-10-01 17:21] acaldwell710 commented on #537
Going to try to work on this! (Amber Caldwell)

[2021-10-01 17:28] DariaNico commented on #536
Going to try to take a stab at this one for OSD

[2021-10-01 17:29] IngridWong0715 commented on #535
I'll be tackling this for OSD day

[2021-10-01 17:54] Arpiiitaaa commented on #238
May I take this up?

[2021-10-01 17:58] nandinikaregowdra commented on #528
I would like to work on this issue.

[2021-10-01 18:14] coder-mina commented on #540
Hi, I would like to work on this issue. Thanks!

[2021-10-01 18:18] harinij commented on #238
Hi @Arpiiitaaa Sure, I have assigned this to you. You can take a look at adding docs here in this [repo](https://github.com/rowyio/docs)

[2021-10-01 18:36] IngridWong0715 commented on #535
Firebase documentation is recommending against adding the geographical point data type due to limited querying capabilities. It instead recommends storing geolocation with two separate numeric fields for longitude and latitude. Should I still go ahead and add this data type?

[2021-10-01 18:39] doilie commented on #538
looking at this issue

[2021-10-01 18:49] jmutt78 commented on #531
I would like to work on this one.

[2021-10-01 21:56] serenal96 commented on #546
Would like to work on this

[2021-10-01 23:03] doilie commented on #538
i was able to create a PR for this issue but only for the iteration that adds the Range option to the Column Options.

[2021-10-05 14:56] michaelmior opened #552 "Typo in README?"
**Describe the bug**
The README mentions that rowy works with `sSack`. Is this supposed to read to read `Slack`?

[2021-10-05 15:20] harinij commented on #552
@michaelmior Thanks for pointing out, fixed :)

[2021-10-06 01:24] Yakito opened #554 "404 After following the "Run on Google Cloud" button"
**Describe the bug**
After following the Run on Google Cloud button I am presented with the following information
[ ✓ ] Your application is now live here:
        https://rowy-run-xxxxxxxxxx-uc.a.run.app

Once I follow the link I am taken here https://rowy.app/404

**To Reproduce**
Steps to reproduce the behavior:
1. Click the "Run on Google Cloud" button
2. Click on the resulting link

**Expected

[2021-10-06 02:33] #554 closed

[2021-10-06 05:18] shamsmosowi commented on #554
the green box, only shows up on the first install of rowy run,
clicking the live cloud run link also redirects to the setup page

[2021-10-06 14:36] RezaRahmati opened #555 "Keep failing in "Set up service account" step"
**Describe the bug**
Setup keep failing in Setup Service account Step

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/setup'
2. continue wizard until you get to Service Account step
3. Try to verify service account

** Actual Behavior **
it shows error "Some roles are missing. Also make sure your Firebase project has Firestore and Authentication enabled."

**Expected behavior**
It pa

[2021-10-06 14:42] shamsmosowi commented on #555
Hi @RezaRahmati can you please check if both firestore and firebase auth are enabled on your project?

[2021-10-06 15:46] RezaRahmati commented on #555
@shamsmosowi Thank you for reply. I see now.
so technically firebase auth will be reflect on gcp, it would beneficial to have a documentation how to use rowy on pure gcp projects

[2021-10-06 16:04] RezaRahmati commented on #555
@matthewtsmith FYI, I enabled the firebase auth on our project (via creating firebase project and connecting it with current gcp project) and now it's good, and setup finished

[2021-10-07 05:31] #531 closed

[2021-10-07 06:51] #555 closed, assigned to nobody

[2021-10-07 08:59] #528 closed

[2021-10-07 10:15] jmutt78 commented on #531
Is this project participating in Hacktoberfest?

[2021-10-07 12:24] harinij commented on #531
@jmutt78 yes, we have added the hacktoberfest label to the project and I have added the accepted label for your PR now. Thanks for contributing :)

[2021-10-07 23:44] #540 closed

[2021-10-10 10:21] #541 closed

[2021-10-12 12:05] notsidney opened #558 "Add column to left/right is adding to the wrong place and is unpredictable"
**Describe the bug**
When using the Add new [column] to left/right option in the column menu, it doesn’t always add to the right place and sometimes works.

[2021-10-13 00:48] notsidney opened #559 "Reordering columns has unpredictable behavior"
**Describe the bug**
When reordering columns using drag and drop, it sometimes doesn’t do anything and sometimes puts it in the wrong place, off by one. Performing the same reorder action corrects it, so users need to reorder the column twice for it to work.

[2021-10-14 03:59] runner-mei opened #560 "add i18n support"
**Is your feature request related to a problem? Please describe.**
I hope chinese!

**Describe the solution you'd like**
add i18n support

[2021-10-15 06:49] notsidney opened #562 "Add accessible reorder option in column menu"
**Is your feature request related to a problem? Please describe.**
Columns can only be reordered using drag and drop, but this is not an accessible method and moving the column from one end of the table to another is difficult if there are many columns.

**Describe the solution you'd like**
In the column menu, there should be an option to reorder that opens a modal to change the order of columns.

[2021-10-15 06:55] notsidney opened #563 "Column menu update - Add accessible resize option"
**Is your feature request related to a problem? Please describe.**
Columns can only be resized by drag on the edges, but this is not an accessible method and is especially difficult on touch screens.

It can also be difficult to see where the click/drag target exactly is. MUI’s Data Grid is a good example of explicitly showing the drag target: https://mui.com/components/data-grid/columns/#resizing

[2021-10-18 01:17] harinij opened #564 "Derivatives Field - Make listener and output field required in the setup process"

[2021-10-18 05:21] joshensongric opened #565 "UI Drawer crashes if imported column is / row 'cell' is Array of Document References"
**Describe the bug**
//A clear and concise description of what the bug is.

**IF** a firestore document contains an array of firestore document refernence sub fields within that array

**THEN** the Rowy UI drawer crashes / refuses to load / display any data for tha particular document / Row of the Table.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 firestore collections (colA & c

[2021-10-19 00:50] shamsmosowi opened #566 "Webhooks"

[2021-10-19 11:05] joshensongric commented on #566
Oooohh

[2021-10-20 14:27] n-sviridenko opened #567 "Document ids are broken, often they are same and look this way: `000000000000000000undefined`"
Newly generated document ids are often broken:

<img width="535" alt="Снимок экрана 2021-10-20 в 17 17 46" src="https://user-images.githubusercontent.com/9335422/138112350-e80bb177-b0ed-41a6-970d-d82dabe28f50.png">

I'm having around 300 records in my database.

Seems like `generateSmallerId` returns `undefined` sometimes. Didn't dig much into this and just replaced it with `db.collection(path).do

[2021-10-20 22:45] fabricio-godoi opened #568 "Firetable"
I got a little confused when checking that the issues from Firetable were moved to this new project. The Firetable project is being migrated to this new platform? Firetable will be closed in the future? Should I point any PR to this new repository, or the old one?

If the project is being migrated to this new repository, can you please put some information in this new repository or the old one exp

[2021-10-21 00:37] harinij commented on #568
You can use this repo. It has more features and functionality and development continues here actively. Join [discord](https://discord.com/invite/B8yAD5PDX4) community to get the latest updates and support.

[2021-10-27 03:38] lafronzt opened #569 "Connect Service Inline Cell issue"
**Describe the bug**
The Connected Service is showing the wrong value for Inline Cell.

Rath then shows the value of the "titlekey" it shows the JSON tag name.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Table
2. Add a column with a connected service
3. Select an option from the list
4. See how the "titlekey" field name is shown inline, but the value is shown correctly in the Si

[2021-10-27 14:38] #569 closed, assigned to nobody

[2021-11-01 20:43] rubenheymans commented on #241
Too bad I thought this would be possible. I have my own backend application written in Angular and I want to show the datagrids on the pages in my app. So my client can login to one backend and manage everything from there. Is there an update for this already?

[2021-11-07 14:55] achataignier opened #575 "Support Connect Table without Algolia"
Connect Table is a great and required feature for most applications. It would be very useful to be able using it without the (commercial and not-free) Algolia index. This should be possible by using Firestore indexes instead, which are almost-free.

Make the use of Algolia mandatory for the Connect Table feature is a blocker for using Rowy in projects requiring low-cost deployments.

[2021-11-10 05:52] Rohitbels opened #576 "Unable to publish the build folder on to Github pages"
**Describe the bug**
Unable to publish the build folder on to Github pages.
I have also added the URL to google auth under Firebase Auth.

in package.json I have entry
  **"homepage": "https://rohitbels.github.io/rowy/",**

**To Reproduce**
Steps to reproduce the behavior:
1. Add "gh-pages"
2. Add the deploy script
3. npm run deploy

**Expected behavior**
Login screen should appear

**Screenshots*

[2021-11-10 06:11] shamsmosowi commented on #576
hi @Rohitbels, You need a hosting service that serve the rowy app on the root `/` not `/rowy/`  or any thing else, im not sure if github supports that, but you can use firebase hosting, netlify or vercel etc

[2021-11-10 08:28] notsidney commented on #576
If you want to use GitHub Pages, you’ll need to make modifications to the Create React App config, like how it’s outlined in the answer here: https://stackoverflow.com/questions/49429906/how-should-i-configure-create-react-app-to-serve-app-from-subdirectory

[2021-11-10 08:28] #576 closed

[2021-11-11 06:39] eneesolutions opened #577 "Can't create read only tables"
**Describe the bug**
I have created a table to view users and I want to prevent any writing or adding rows/columns or deleting.

I have set up the security rules with write set to false for my USER role, this works.

However the UI does not update, so it looks like the logged in USER can make changes to the table, which makes for a bad experience.

Is there some way to set a table as read-only for

[2021-11-11 06:43] eneesolutions opened #578 "Adding new users does not work reliably"
I have added one user our Rowy instance and it worked, but after that another email address wouldn't work.

What happens is the invite email gets sent, I can click get started from the email and sign in with Google, but there are no tables or logged in user shown. I tried logging out and logging back in, but the user screen was broken.

Also the new user didn't show in the user_management collecti

[2021-11-11 07:12] notsidney commented on #578
Hi, did you make sure to set the user roles when inviting first?

[2021-11-11 07:14] notsidney commented on #577
Hi, you can set all the columns in the read-only table to be Locked in the column menu. This prevents the user from being able to edit the data in the UI, preventing the issue you said where it looks like the user can edit data but isn’t reflected on Firestore because of security rules

[2021-11-12 01:16] eneesolutions commented on #578
Yep, I set them both to the same role, one added, the other didn't

[2021-11-12 01:34] eneesolutions commented on #577
Locking the columns did improve the situation slightly, but my USER role can still duplicate rows, try to delete and add columns etc.

I've attached a screenshot of the areas I wouldn't want the user to see and confuse them:

<img width="980" alt="Screen Shot 2021-11-12 at 12 02 59" src="https://user-images.githubusercontent.com/63626327/141393607-79292416-ff1c-4b9a-bfbf-6a0a74e1cd63.png">

[2021-11-12 02:08] notsidney commented on #577
Thanks for this, we’ll definitely look into adding read-only tables to make this simpler

[2021-11-12 03:03] shamsmosowi commented on #575
Hi @achataignier, this definitely something we will need to look into in the future, PRs are also welcome!
For now we do have a [Meilisearch](https://www.meilisearch.com/) extension and you can use [connect service](https://docs.rowy.io/field-types/connect-service) column to make an endpoint accessible similar to how connect table works, It is a bit more complicated than using connect table though

[2021-11-15 10:03] n-sviridenko opened #580 "Enable non-admins managing select option values"
**Is your feature request related to a problem? Please describe.**

We don't want giving our staff ADMIN permissions, but they need to be able to add new option values without distracting us every time.

**Describe the solution you'd like**

Everyone authenticated should be able to manage option values. This can be also configured on a field level (e.g. "Who can manage option values: Everyone | On

[2021-11-15 11:25] n-sviridenko opened #581 "Separate role for table structure management"
**Is your feature request related to a problem? Please describe.**

We don't want our staff being able to execute scripts, however we want them to be able to independently manage the table columns.

[2021-11-15 11:37] shamsmosowi commented on #580
I agree, this would be a very common use case.
Currently all column configurations go through the client-sdk with firestore rules enforced, and with the current table schema structure it would be too complex if not impossible to create rules that would allow editing rights to the options specifically, without rights to editing all column configurations.
Potentially it could be implemented by addin

[2021-11-15 12:44] n-sviridenko commented on #581
Maybe it makes sense to have a config where all actions are mapped with roles which can execute them. Ideally, making it protected or build-time.

E.g. "{ managing table structure: [ADMIN, EDITOR], ... }"

[2021-11-15 12:46] n-sviridenko opened #582 "Multiple filters support"
**Is your feature request related to a problem? Please describe.**

We need to be able to have multiple filters applied to a view. Indexes have to be created either automatically (via rowyRun) or it should prompt a link to generate them.

[2021-11-16 09:40] shamsmosowi commented on #581
I don't understand what mean by

Your second comment could be possible with firestore rules, the table schema document rule can be something like `allow update: if hasAnyRoles(resource.data.editors)`
we would just need to add an input field similar to the access by field

[2021-11-16 15:52] lafronzt opened #583 "Import CSV Issues"
**Describe the bug**
When Importing a CSV, I would have expected it to generate a new row for each item. However, it keeps replacing the same row with the latest data rather than creating a new row.

**To Reproduce**
Steps to reproduce the behavior:
1. Create New table
2. Add the Columns you would like
3. Import CSV
4. See how there is only one row.

**Expected behavior**
I expected a new row for

[2021-11-16 22:19] shamsmosowi commented on #582
I think it should be automatic via rowyRun, since it is doable using the admin-sdk

[2021-11-17 09:23] n-sviridenko commented on #582
I'd also clean the index if the filter gets removed (with a prompt ofc).

[2021-11-18 05:47] eneesolutions commented on #578
I have some further info on this if it's helpful. I added a few more users recently and when I set them to the built-in 'ADMIN' role, it actually added the users. Then after they were in the system I was able to switch them over to just being a 'USER' which was the role I created.

Another part is every time I add a user, they initially show as having no roles, rather than the one I set. I can the

[2021-11-19 17:16] n-sviridenko commented on #581
"We don't want our staff being able to execute scripts" means that when giving them ADMIN permission, it allows them not to only modify the data structure, but also install extensions and execute pretty much any code via firebase functions.

[2021-11-20 11:21] n-sviridenko opened #587 "Filters have to be common for all users"
**Is your feature request related to a problem? Please describe.**

Like on Airtable, filters have to be applied on a table level rather than on a user level. I want to configure views in a way so that my team can benefit from the filters I set. I don't want 20 people configuring the same filters again and again.

P.S. I shared this feedback ~2 months ago over email, so you might already have an i

[2021-11-21 02:52] shamsmosowi commented on #583
fixed on rc branch and .rowy.app

[2021-11-25 06:06] contributorpw opened #588 "Add a layer counter of pictures"
**Is your feature request related to a problem? Please describe.**

In table mode I don't see how many pictures the image field contains. This is misleading.

**Describe the solution you'd like**

I suggest adding a layer counter of pictures.

![1637819860472](https://user-images.githubusercontent.com/5027939/143388248-c94dcae0-9afc-4acd-9309-c347166d54be.png)

**Describe alternatives you've consi

[2021-11-25 06:17] contributorpw opened #589 "Add a preview of images on mouse hover"
**Is your feature request related to a problem? Please describe.**

This is a suggestion to add a preview of images on mouse hover.

### In table view

![1637820714212](https://user-images.githubusercontent.com/5027939/143389527-a64a9b92-c194-413d-bbcf-1989cb0743e1.png)

## In drawer view

![1637820819318](https://user-images.githubusercontent.com/5027939/143389556-779797e7-1458-462f-ad09-d394cb4b

[2021-11-25 06:18] notsidney commented on #588
This is a good idea. We don’t have a component that can be easily adapted for this though.

[2021-11-25 06:19] contributorpw commented on #589
This may have additional features since the preview interferes with the delete action.

[2021-11-25 06:35] contributorpw commented on #588
@notsidney how about a light label
![1637822071661](https://user-images.githubusercontent.com/5027939/143391770-ee4d21a0-5609-4ab4-91f2-5f2b491c4cb1.png)

[2021-12-03 16:32] harinij opened #594 "Add a documentation/notes section for table"
**Is your feature request related to a problem? Please describe.**
Each table should have a short description/documentation/notes section. Currently it is hard to add any additional information for the tables thats not a data row or static information relevant for the table.

**Describe the solution you'd like**
A markdown based notes section for tables on the top.

[2021-12-06 17:15] n-sviridenko commented on #582
Hey guys, any updates on this, or at least an approximate timeline? cc @shamsmosowi

[2021-12-06 17:15] n-sviridenko commented on #587
Hey guys, any updates on this, or at least an approximate timeline? cc @shamsmosowi @notsidney

[2021-12-07 23:34] notsidney commented on #582
Hi @n-sviridenko, looking at our internal timeline, we don’t plan to work on this feature until early next year, maybe February. We’re focusing on improving existing features and removing friction for new users to start using Rowy, and we’re counting this a new feature.

[2021-12-07 23:35] notsidney commented on #587
Hi @n-sviridenko, we’re investigating this as part of our current sprint, but cannot guarantee it will be part of the next release this month as v2.3

[2021-12-12 13:51] #583 closed

[2021-12-12 13:55] n-sviridenko commented on #495
Any updates here?

[2021-12-12 14:02] n-sviridenko commented on #495
Currently we're working around this the following way:

[code]

[2021-12-12 17:24] n-sviridenko commented on #581
Furthermore, the UI allows only admins modyfying this setting, as far as I remember, so modifying rules is not enough and we have to fork the UI repo in order to make this change. And this moves us back to this issue to be solved.

[2021-12-12 17:48] n-sviridenko commented on #581
Just saw this commit https://github.com/rowyio/rowy/commit/5439b6a323ba2f10b87800c69c98635d5ce05cf6 , seems like you already considered that. Are there any other use-cases you planned for that role?

[2021-12-13 03:42] harinij commented on #566
Released in v2.2

[2021-12-13 03:42] #566 closed

[2021-12-13 03:46] harinij commented on #266
Released

[2021-12-13 03:46] #266 closed

[2021-12-13 05:01] gibsonliketheguitar commented on #562
I would like to claim this task.

[2021-12-13 09:28] gibsonliketheguitar commented on #582
@n-sviridenko Hey Nick, I am new to this repo. Can you define "view" in relation to rowy. I will start looking into this! Please and thank you.

[2021-12-13 09:30] gibsonliketheguitar commented on #563
I will claim this task

[2021-12-13 10:45] #567 closed

[2021-12-13 18:42] harinij opened #598 "Cmd K Bar for Rowy"
**Is your feature request related to a problem? Please describe.**
It would great to have a cmd+K bar for Rowy to search and do most commonly used actions like create table, extensions. Filter, sort etc.

Exploration of different options for implementing this and discussion welcome.

[2021-12-13 18:44] harinij opened #599 "Update user management section: Move pending invites to seperate section"
**Is your feature request related to a problem? Please describe.**
Currently in the user management section of Rowy, pending invites have unassigned roles and get into the mix of users who have already signed up and have roles assigned. This leads to confusion as why there is missing roles.

**Describe the solution you'd like**
Have a separate section for users who are only invited or have their r

[2021-12-13 18:48] harinij opened #600 "Right click menu for cells"
Add right click menu for table cells with useful features such as..

copy, paste
copy column name, id, ref

other ideas welcome to discuss

[2021-12-17 18:19] n-sviridenko opened #601 "When copying a table, it doesn't copy its subtables"
When we create a new table using an existing table config, it doesn't copy its children tables' configurations.

[2021-12-19 04:54] gibsonliketheguitar opened #602 "Unintended mutation of reducer state by resize function"
**Describe the bug**
A clear and concise description of what the bug is.

In javascript, a variable declaration to an existing object references the original object in memory. Like a pointer in C++.

[code]
The assign
[location](https://github.com/rowyio/rowy/blob/64f2fc3ce5da684aa6fd369cf190eca88a3c1bf9/src/hooks/useTable/useTableConfig.ts#L89)

This is an issue because there is an unintended mut

[2021-12-19 05:07] gibsonliketheguitar commented on #602
Proposed [fix](https://github.com/rowyio/rowy/pull/603)

[2021-12-19 16:05] n-sviridenko opened #604 "Leverage firestore pagination"
As we figured out just now, Rowy doesn't paginate results when doing lazy-loading. Instead, it loads all data [again and again](https://github.com/rowyio/rowy/blob/72fa7dddb31b6d2bf13a7f86531e84ba2c6349c9/src/hooks/useTable/useTableData.tsx#L268) by just increasing a limit. So once you have 1000 records on your page, it'll load 1000 (1000, 1015, 1030 ...) records every time when you load more reco

[2021-12-19 18:08] n-sviridenko opened #605 "Derivative fields have to listen for sub collections changes"
We have a sub collection we want to listen to in order to update its parent document field value. This is needed in order to not compute its value manually every time visiting that sub collection, which takes a lot of time.

Sample use-case: summing up amounts of cart items and writing it down to the cart, which is a parent document to them.

Unfortunately, currently derivative fields only conside

[2021-12-19 22:21] getTobiasNielsen commented on #604
Yeah, it's the less ideal strategy for large sets of data.

I think you're proposing getting batches of x, and then making sure there are listeners for each batch, and that you would keep track of them, additionally, as a row is inserted or deleted update the listeners to reflect that.

Because there aren't any "pages" I'm not sure it's strictly necessary to update a lot of listeners, rather just

[2021-12-21 12:56] notsidney opened #607 "Improve reliability of import CSV feature"
**Is your feature request related to a problem? Please describe.**
Currently, when importing from CSV, rows are added on the frontend. This allows the feature to respect any access control restrictions placed on the user doing the import and ensure the same audit fields are written if enabled.

But since rows are written one at a time, it can take a long time to complete the process, and an app cr

[2021-12-21 13:03] notsidney opened #608 "Improve import CSV column suggestions"
**Is your feature request related to a problem? Please describe.**
Import CSV can be a tedious process, especially when importing a file with many columns. Currently, we can suggest importing to columns that already exist, but when importing to an empty table, we don’t provide any suggestions.

**Describe the solution you'd like**
A button to suggest a column structure for the table based on the d

[2021-12-21 13:15] notsidney opened #609 "Change Export CSV date format so it can be parsed by Import CSV"
**Is your feature request related to a problem? Please describe.**
Export CSV relies on [json2csv’s method for stringifying dates](https://github.com/zemirco/json2csv#object) so they can be output to CSV. The formats are `dd/MM/yyyy` and `yyyy-MM-dd HH:mm`.

But Import CSV requires a format that can be parsed by [date-fns `parseJSON`](https://date-fns.org/v2.16.1/docs/parseJSON).

**Describe the s

[2021-12-21 13:40] notsidney commented on #604
Thanks for pointing this out. This is a really tricky problem for Firestore, primarily since we use real-time listeners on Rowy. The Firebase channel’s video lays out this problem nicely: https://www.youtube.com/watch?v=poqTHxtDXwU&t=351s

Our current solution of using a single real-time listener and increasing the limit for infinite scrolling is [actually suggested in that video](https://youtu.be

[2021-12-22 06:32] gibsonliketheguitar commented on #558
Claiming this task

[2021-12-22 06:32] gibsonliketheguitar commented on #559
Claiming this task

[2021-12-27 13:38] n-sviridenko commented on #582
@gibsonliketheguitar  View (in airtable's world) is a table (in rowy's world).

[2021-12-27 13:39] n-sviridenko commented on #604
How about using Algolia to load the data instead? In this case, we can also solve [the multiple filters issue](https://github.com/rowyio/rowy/issues/582) (as firestore filtering is pretty limited). This way we can load identifiers of the docs via Algolia and then load the actual data using the ids (max 10 per request due to Firestore limitations).

[2021-12-29 05:55] gibsonliketheguitar commented on #598
I began a basic implementation of HotKeys. I notice that there is already a custom hook and Component for Hotkeys.

[2021-12-30 10:42] gibsonliketheguitar commented on #600
Should we have a global state in Jotai to store the copying of values

[2021-12-30 10:45] gibsonliketheguitar commented on #544
#598 related to hotkey

[2022-01-03 05:35] harinij opened #613 "User management UI update"
**Is your feature request related to a problem? Please describe.**
Currently, invited users who have yet to sign up are shown in the user management section with a blank "role" along with users who have signed up with a "role". This needs to be seperated.

**Describe the solution you'd like**
Move pending invites to separate section in user management called "invited" and those who have signed up

[2022-01-03 05:36] harinij commented on #613
Duplicate #599

[2022-01-03 05:36] #613 closed

[2022-01-04 09:29] shamsmosowi commented on #600
hi @gibsonliketheguitar, the copied values should be stored into the clipboard, so users are able to move their data out of rowy.
We should be keeping the same style as the column menu, but no need to include column level functionality included in the column menu already.

[2022-01-05 09:48] src200 commented on #600
Opened a PR https://github.com/rowyio/rowy/pull/621

[2022-01-05 12:04] gibsonliketheguitar commented on #600
Was working on this to  #622.
In addition, @src200 I notice you wrapped the Row with the ContextMenu.

The potential problem is the necessary duplication on all the <Row />
My implementation followed the ColumnMenu Code, and used  a CellMenuRef to handle the conditional rendering of the ContextMenu

@shamsmosowi  @src200 Let's figure out who will be taking this ticket

[2022-01-07 02:34] notsidney commented on #604
We also considered this, but we didn’t want to add Algolia as a requirement for users to use Rowy. We don’t want to add cost for users who only use Firestore, and in our experience, we’ve found Algolia to become quite expensive as the number of users scale, since [their pricing](https://www.algolia.com/pricing/) is based on the number of search requests.

Algolia would be great to implement multip

[2022-01-07 07:06] #602 closed

[2022-01-18 09:01] #409 closed

[2022-01-29 01:27] AndrewGable opened #629 "Cannot send email via SendGrid due to secret manager error"
**Describe the bug**
I am attempting to send emails via the sendgrid extension, however, it is failing with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new secret in the secrets-manager UI named `sendgrid`
2. Go to extensions and create a new send grid extension
3. Trigger it via `create`
4. I get the error above 💥

**Expected behavior**
I would expe

[2022-01-29 04:40] shamsmosowi commented on #629
Just to confirm, have you added secret accessor role to the default service account used by the cloud function?
I've just added some basic docs [here](https://github.com/rowyio/docs/blob/main/docs/extensions/extensions.md#-secret-mananger-access)
let me know if that doesnt help

[2022-01-29 22:55] AndrewGable commented on #629
I gave both the `Rowy Backend service Account` and the `firebase-adminsdk` the roles, but is there a different account that I should grant that role as well? I don't see a service account with `projectId@appspot.gserviceaccount.com`

<img width="1153" alt="Screen Shot 2022-01-29 at 3 50 49 PM" src="https://user-images.githubusercontent.com/2838819/151680160-b3cd24e7-21bf-4ee3-a24c-19412d6620f6.png

[2022-01-29 23:10] AndrewGable commented on #629
Ok I got it, apologies I am new with IAM!

I had to:
1. Add `projectID@appspot.gserviceaccount.com` as a new principals
2. Grant it the `Secret Manager Secret Accessor` role

Thanks for the help!

[2022-01-29 23:10] #629 closed

[2022-02-01 02:02] #559 closed

[2022-02-01 08:16] #558 closed

[2022-02-02 07:13] #594 closed

[2022-02-02 07:14] #600 closed

[2022-02-03 01:18] harinij opened #633 "Support for updating the row fields directly in the derivatives/action columns"
**Is your feature request related to a problem? Please describe.**
I was trying to update a toggle field as part of action script of an action button. However, currently updates to row fields is not supported.

**Describe the solution you'd like**
Support direct manipulation/assigning of row fields and not just retrieving data. So instead of having to do

`ref.update({rejectEmail:true})`

it shoul

[2022-02-03 02:24] notsidney commented on #564
Released in v2.2

[2022-02-03 02:24] #564 closed

[2022-02-03 02:25] notsidney commented on #509
Released in v2.2

[2022-02-03 02:25] #509 closed

[2022-02-03 02:25] notsidney commented on #530
Released in v2.2

[2022-02-03 02:25] #530 closed

[2022-02-03 02:25] notsidney commented on #565
Released in v2.2

[2022-02-03 02:25] #565 closed

[2022-02-03 07:47] harinij opened #634 "Clicking on subtable field results in redirection of the URL, remove it to fix nav issue"
**Describe the bug**
Currently, the links to subtable end with the URL "?parentLabel=" which seems to redirect to a URL ending with "?rowRef=". This causes issue when trying to navigate back with the back button, as instead of going back to the main table it goes to the original URL.

**To Reproduce**
1. Go to a table with a subtable (example:[All fields demo table]( https://demo.rowy.io/table/all

[2022-02-04 08:29] #527 closed

[2022-02-04 08:29] #544 closed

[2022-02-04 08:29] #546 closed

[2022-02-04 08:29] #577 closed

[2022-02-04 08:29] #587 closed

[2022-02-07 08:45] gibsonliketheguitar opened #641 "Enhancements: Refactor Conditional Modal and use react hook form for validation"
**Is your feature request related to a problem? Please describe.**
We want to validate when user enters duplicate values in conditional list. It should notify user of duplicates when user is adding a new condition or updating a condition.

**Describe the solution you'd like**
Use React-Hook-Form and Yup validation?

**Describe alternatives you've considered**
I've tried to add conditional rules wi

[2022-02-08 03:44] #243 closed

[2022-02-09 07:48] notsidney commented on #634
`rowRef` is used to make the URL link to the specific row that’s selected. `parentLabel` is used to display a label for the parent document of the sub-collection you’re viewing.

It looks like the code written for both overwrites the entire URL query string instead of modifying just one part of the query string. This should be migrated to Jotai’s `atomWithHash`

[2022-02-12 16:31] n-sviridenko opened #648 "Move code outside of schema documents"
Currently, the action scripts code is located at the same collection where the fields meta is located. Normally, it makes sense to let our team mates to adjust the data schema, but giving them ability to execute pretty much any code isn't secure. So it makes sense to have it encapsulated into a separate collection.

[2022-02-14 12:48] #483 closed

[2022-02-14 12:51] harinij opened #650 "Aggregate field - design + development"
**Is your feature request related to a problem? Please describe.**
Aggregate fields are useful for calculating combined values from subtable or other table collections. Currently this field is disabled and needs investigation in terms of design and development.

[2022-02-15 09:26] n-sviridenko opened #652 "Audit fields for subtables"
Currently, it's possible to only define custom audit fields for top-level tables, but this config is missing for subtables.

[2022-02-19 12:10] harinij commented on #513
Done @alceil 👍

[2022-02-19 12:15] alceil commented on #513
Thanks @harinij

[2022-02-23 05:34] #641 closed

[2022-03-06 14:34] shamsmosowi commented on #648
This issue would also apply to derivatives and extensions as well, if they get rebuilt without checking. I will look into moving all the code outside of schema docs, so you can allow your team mates to manage other column settings safely

[2022-03-11 23:14] aryan1107 opened #666 "Adding anonymous signin option using firebase"
Hi I am facing issues for adding anonymous sign up option of Firebase in this. Any idea how it can be added?

[2022-03-15 00:28] notsidney commented on #666
Hi there, to add Anonymous sign-in, go to Project settings and enable it in the **Sign-in options** dropdown.
<img width="602" alt="image" src="https://user-images.githubusercontent.com/27017118/158282464-2a74b188-d21e-46e0-a1ae-7730debf9366.png">

Then in the Firebase Console, go to Authentication > [Sign-in method](https://console.firebase.google.com/project/_/authentication/providers) and enabl

[2022-03-15 11:29] padeepz opened #667 "reference field not displaying content"
**Describe the bug**
when there is a reference field in a document, it is not displaying

[2022-03-16 03:57] notsidney commented on #667
Hello, we don’t currently have a [field type](https://docs.rowy.io/field-types/supported-fields) that supports the Firestore references. We’re looking into how we can support this.

[2022-03-16 03:59] notsidney commented on #667
Duplicate of #534

[2022-03-16 18:50] saenzramiro opened #668 "Filter table by Row's ID or Metadata ID"
**Is your feature request related to a problem? Please describe.**
In our case, our collection of users have the email address of the user as the document ID. When I create a table, I can add a column using the "Metadata - ID" field type to display that information, but when I want to search for a specific email you cannot do it because it is not a field, I guess.

**Describe the solution you'd li

[2022-03-16 22:14] shamsmosowi commented on #668
Hi @saenzramiro,
The filtering functionality on Rowy uses a firestore query, firestore queries don't handle documentId as query parameter.
for the same reason creating a client side mapping field wouldn't work as it wouldn't be queryable on Firestore.
A solution for you would be to include email as field in the document, you can do that easily using default values
[like this](https://docs.rowy.io/

[2022-03-17 16:59] saenzramiro commented on #668
Thank you for your answer.
Ok, and what about doing something with the URL? Because when I click on a row, is changing the URL to the path of that document in the **rowRef** parameter. A workaround that I found is:

1. Click on a row of another user to have the path of that document in the URL.
2. Change in the URL the email of the user to the user I want to find.
3. After page reload, open the si

[2022-03-20 01:26] shamsmosowi commented on #668
are you suggesting "document filter" only updates the side drawer, and not the table?

[2022-03-21 03:23] santoshgistto opened #669 "Notification showing on each click event"
Rowy run setup notification showing on each click event
<img width="361" alt="Screen Shot 2022-03-20 at 11 18 50 PM" src="https://user-images.githubusercontent.com/12577046/159201018-75e24b23-dcf9-493c-b411-2cec2a9bd3bd.png">
**To Reproduce**
Steps to reproduce the behavior:
1. Don't setup rowy run
2. Run application `npm start`
3. click on menu items to multiple pages
4. See error

**Expected beh

[2022-03-21 04:00] shamsmosowi commented on #669
which version are you on? it should be fixed on v2.4

[2022-03-21 12:19] saenzramiro commented on #668
Well, it will be great if you can redraw the table showing a single row with document data to have a better experience.

If is not possible, I think having only the drawer is better than nothing. 💪🏼

[2022-03-21 12:27] saenzramiro opened #671 "Template column type"
**Is your feature request related to a problem? Please describe.**
Well, is not a problem but I have a field where I save a base64 image and current field types are not supporting the display of that image.

**Describe the solution you'd like**
A field where we can write a HTML template with the possibility to print inside that HTML the value of the field. If we can access all row values inside th

[2022-03-23 04:12] santoshgistto commented on #669
i Have pulled main branch

[2022-03-28 05:29] notsidney commented on #669
Hi @santoshgistto, I cannot reproduce this issue. Could you please check that the version you’re running is v2.4.0 or later in Project Settings? http://localhost:3000/settings/project

[2022-03-28 18:51] santoshgistto commented on #669
@notsidney  yes it is `"version": "2.4.0",`

[2022-03-30 23:15] notsidney commented on #669
Hi @santoshgistto, the code that displays that snackbar was removed in commit cf10f9c and was released as part of v2.4.0. There is no other code that would display this snackbar.

I think what’s happening is that while you’ve pulled from the main branch, so your local clone is up to date at v2.4.0, your deployment of the web app is still running the previous version.

This is why I asked you to ve

[2022-03-31 18:11] santoshgistto commented on #669
@notsidney  i have tried to reproduce but unfortunately app crashing with the following error
[code]
after taking update `git pull`

[2022-03-31 23:43] notsidney commented on #669
It looks like an issue with the node modules installed in your local clone.

Try reinstalling dependencies using `rm -rf node_modules; yarn` then rebuilding.

If that doesn’t work, make a new clone of the repo.

[2022-04-22 20:29] psupina opened #676 "Allow us to specify the region for Cloud Functions"
**Describe the solution you'd like**
We can already specify the region for Cloud Run services during the deployment.
Allow us to specify the region for Cloud Functions as well.
At the moment, Cloud Functions are always created in the "us-central1" region.
This should speed things up for us, especially if the Cloud Firestore data are located on the different continent.

[2022-04-25 18:10] jordanpinski opened #677 "Way to display image in the Connector PopupContents"
**Is your feature request related to a problem? Please describe.**
When using the Connector field type there's no way to set or display an image for each list item.

**Describe the solution you'd like**
An optional input field to add an image URL.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-04-25 19:37] shamsmosowi commented on #677
We could add an addition field in the settings for an image source, it could look like the [country select example](https://mui.com/material-ui/react-autocomplete/#country-select), or potentially we can add html alternative to the label formatter field, that would allow for any customisation of the items in the list

[2022-04-25 20:24] jordanpinski commented on #677
I think the html alternative to the label formatter field would be the go as it would suit a lot more use cases.

[2022-05-31 02:32] bennetfabian opened #680 "[deploy.rowy.app] CORS issues"
**Describe the bug**
On https://deploy.rowy.app in Step 2, when trying to select a project, it shows "NetworkError when attempting to fetch resource." on Firefox and "Failed to fetch" on Chrome on the bottom left.
The console output in Chrome:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Login with your Google account on https://deploy.rowy.app
2. Go to Step 2

**Expected behavior*

[2022-05-31 03:17] shamsmosowi commented on #680
Hi @bennetfabian,
in step 1, did you login with an email that already has projects on GCP & give consent for cloud platform access?
you can [logout](https://deploy.rowy.app/signout) and try again, see if that helps
otherwise please DM me on discord your email, I can look into the issue for you

[2022-05-31 03:32] bennetfabian commented on #680
Yes, I did login with an Google account already having projects on GCP and I did give cloud platform access consent.

Logging out and logging in back again also doesn't help.
Thanks for you offer, I'll message you!

[2022-06-01 01:38] #680 closed

[2022-06-05 01:10] harinij opened #683 "Markdown column type support"

[2022-06-06 22:16] saenzramiro commented on #671
👀

[2022-06-06 22:17] saenzramiro commented on #668
👀

[2022-06-08 06:50] notsidney commented on #529
This is not possible because we do not store the duration value in the database, so it cannot be filtered by duration.

[2022-06-08 06:51] notsidney commented on #529
This is not possible since we don’t store the duration value in the database, only the start and end timestamps.

[2022-06-08 06:51] #529 closed

[2022-06-08 21:25] saenzramiro commented on #668
Awesome news! Thanks.

[2022-06-08 21:25] #668 closed

[2022-06-17 04:32] #683 closed

[2022-06-17 04:32] #667 closed

[2022-06-17 04:33] #634 closed

[2022-06-17 04:33] #607 closed

[2022-06-17 04:34] #545 closed

[2022-06-17 04:35] #522 closed

[2022-06-17 04:35] #535 closed

[2022-06-17 04:35] #534 closed

[2022-06-18 03:44] notsidney commented on #495
Hello, analytics has been removed for the open-source version of Rowy in v2.6.0 (commit https://github.com/rowyio/rowy/commit/94372bc2f6112d9b3040664c08f66cb25c19066b)

[2022-06-18 03:44] #495 closed

[2022-06-18 05:01] notsidney commented on #580
Hello, we now allow users with the OPS role to configure columns in v2.6.0

[2022-06-18 05:01] #580 closed

[2022-06-21 13:45] aggmoulik commented on #468
Hey @harinij I am picking this up, but to be sure, should I create PR in firetable ?

[2022-06-21 17:35] htuerker commented on #537
Hello 👋

I did some work here. I'd like to get some direction before opening a PR.

The problem here is the below line is completely useless and has no effect on the editor's UI styling:
https://github.com/rowyio/rowy/blob/57e758d0674a7e33994a4d35d1e32048edbd9c23/src/components/RichTextEditor.tsx#L126-L128

As this does nothing, we alter the color to `palette.text.primary` in `content_styles` whic

[2022-06-23 06:13] harinij opened #693 "Build logs expand/collapse menu does not collapse completely."
**Describe the bug**
When building derivative column function and deploying

**To Reproduce**
1. Create a derivative column (see sample [here](https://demo.rowy.io/table/whatToWatch#columnModal=%7B%22type%22%3A%22config%22%2C%22columnKey%22%3A%22movieId%22%7D)
2. Deploy the column
3. The build log modal shows up on the left
4. Expand/collapse the modal does not work as expected to collapse fully

[2022-06-27 00:31] Ciggzy1312 commented on #693
Hey, I can give this a try

[2022-06-27 03:18] notsidney commented on #537
Hi @htuerker, thanks for your interest in Rowy!

`contentCss` and `contentUiCss` are used to style the actual content of the rich text, so it shouldn’t affect the editor UI. I’m not exactly sure why it’s also part of `content_style`, but it’s recommended in their example code on how to use it with React: https://www.tiny.cloud/docs/integrations/react/#:~:text=the%20React%20application-,using%20a%2

[2022-06-30 17:18] nalin-singh commented on #532
Hey I would like to work on this, do you mean you want to add an edit option for the profile photo and name even after it's fetched from google itself?

[2022-07-01 02:53] notsidney commented on #532
Yep, that’s the idea! It would be stored in the user settings document. You can find the component for this in [src/components/Settings/UserSettings/Account.tsx](../blob/main/src/components/Settings/UserSettings/Account.tsx)

[2022-07-02 10:44] htuerker commented on #521
I'd rather see a popover editor here than the simple text editor.

I'll be working on this. Let me know if popover isn't an intended solution.

[2022-07-02 11:44] shamsmosowi commented on #521
I think an interaction similar to [this](https://codesandbox.io/s/lzjnd?file=/src/App.js) would be sweet

[2022-07-04 14:39] htuerker commented on #521
@shamsmosowi  I assume you wanted to put attention to how smooth the dragging experience is in that sandbox, right? The current slider can already achieve this smoothness by having a step value as low as possible.

In my opinion, it's better to stick with the MUI slider in order to have a consistent design. Do you have any opinions @notsidney?

https://user-images.githubusercontent.com/46192266/17

[2022-07-05 03:10] notsidney commented on #521
I quite like the novelty of [that solution](https://codesandbox.io/s/lzjnd?file=/src/App.js) as it looks really clean. However, it’s not keyboard accessible at all, and it’s not clear that you can click and drag on it. While I do like the consistency of using the MUI slider here, I think it would look too heavy in the table itself when there are 20 of them on screen.

I think it’s fine for you to

[2022-07-05 04:54] htuerker commented on #521
I think I understand what @shamsmosowi wants now. I'm going to create a simple draft PR with basic requirements then we can iterate it by discussing under.

[2022-07-05 11:54] harinij commented on #543
This has been released in recent releases.

[2022-07-05 11:54] #543 closed

[2022-07-05 11:55] harinij commented on #542
This has been released in recent releases.

[2022-07-05 11:55] #542 closed

[2022-07-05 12:02] harinij commented on #562
This issue is open, needs design.

Some suggested options, the menu for column can be renamed to "Columns"
<img width="577" alt="Screen Shot 2022-07-05 at 9 57 23 pm" src="https://user-images.githubusercontent.com/307298/177322591-edb19824-cd77-442c-8613-cd0f2a786c0b.png">

and can allow for drag and drop reorder as shown below (example, not final design suggestion).

https://user-images.githubuse

[2022-07-05 13:48] aritraroy opened #698 "Rowy shows error message if cloud function runs for more than 1 minute"
**Describe the bug**
If a cloud function runs for more than 60 seconds, Rowy automatically shows an error message "Failed to run action. Check the column settings.".

**To Reproduce**
Steps to reproduce the behavior:

1. I have an Action button connected with a Firebase Cloud Function. Pressing the button triggers the cloud function.
2. If the cloud function runs for more than 1 minute it shows th

[2022-07-05 14:05] shamsmosowi commented on #698
Hey @aritraroy ,
It looks like the callable function [here](https://github.com/rowyio/rowy/blob/main/src/components/fields/Action/ActionFab.tsx#L96) expects timeout as an option and defaults to 70 seconds if nothing is provided.

[2022-07-05 15:03] aritraroy commented on #698
@shamsmosowi I see. Currently, I am calling the function from Actions settings like this - https://share.cleanshot.com/tsnYfz.

How do you suggest I pass the timeout options here? An example will be helpful for me to try out.

[2022-07-05 15:27] shamsmosowi commented on #698
currently there's no setting for it, I think we should just update the default to 540 seconds instead, since thats the maximum  a cloud function could run for. We'll need to test what happens if the cloud function timesout first, to see how that error is handled.

[2022-07-05 18:24] aritraroy commented on #698
Yes, changing the default to 540 sounds like a good idea. Please let me know whenever this change is made.

[2022-07-05 18:37] aritraroy opened #699 "Prevent VIEWER role to export CSV"
**Is your feature request related to a problem? Please describe.**
Currently if I set VIEWER role and set this option - "Read-only for non-ADMIN users", the user is not able to add/edit/remove the database which is good. But the user is able to export the entire database in one go.

I understand that exporting the database as CSV can still be considered a view-only option, but its a security risk

[2022-07-06 08:30] notsidney commented on #562
We use [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd) already and it should be used here too as it’s accessible for keyboard and screen reader users

[2022-07-06 17:16] n-sviridenko opened #702 "[Offtop] Supporting Supabase"
Maybe someone knows about existing solutions? Or maybe you guys plan to have something in this direction?

[2022-07-06 22:29] shamsmosowi commented on #702
Hi @n-sviridenko !, We're exploring Postgres support  atm.
I am aware that Supabase provides a builtin CMS, Interested to know which parts of Rowy you miss the most?

[2022-07-06 22:37] shamsmosowi commented on #699
Hi @aritraroy, I like the idea of an access control panel, it could help with controlling access to other features as well.
My main concern with providing it for CSV export, is that it can provide a false sense of security, since users can still access all the data that they can export, either manual or if its a technical user they could use the browser console to write a script that can achieve t

[2022-07-07 13:13] aritraroy commented on #699
Yes, I understand it is always possible to extract the data by writing a script or through other means. But it would be impossible for non-technical users. The idea is to not make it so easy as to just download it in once click and get the entire database in one go.

We are unable to use it properly and give access to it to larger team just because of this concern.

[2022-07-11 06:29] aritraroy commented on #699
@shamsmosowi Can this feature be considered? If not, please let me know so that I can close the issue.

[2022-07-13 09:04] harinij opened #704 "Allow for custom ids when importing data from CSV"
**Is your feature request related to a problem? Please describe.**
Currently when bulk importing data from CSV/file ids get auto generated. Allow option to use a column from the importing file for custom ids.

**Describe the solution you'd like**
Below is the current Import CSV screen.
<img width="1103" alt="Screen Shot 2022-07-13 at 6 41 20 pm" src="https://user-images.githubusercontent.com/30729

[2022-07-14 02:30] notsidney opened #707 "Import Firestore Reference field using CSV"
### Discussed in https://github.com/rowyio/rowy/discussions/706

<div type='discussions-op-text'>

<sup>Originally posted by **polenvinagre** July 14, 2022</sup>
Hi! Could someone help me. How can I import a reference field to firebase?
I tried use json but it import a array of data.
I tried ref field but it was blank/empty.
I am using a csv file.</div>

**Describe the solution you'd like**
When a

[2022-07-14 05:08] harinij commented on #598
This issue is still available for Good First issue. A library like this can be used for implementation https://github.com/timc1/kbar

[2022-07-14 07:43] rubnawazqureshidev opened #708 "Rowy stopped working"
TypeError: Failed to fetch.

screenshot: https://ibb.co/PZPykm1

[2022-07-14 15:30] zakblacki opened #710 "Issue Collection Empty how to import/upload data"
I'm trying to import/upload my existing Firestore data into Rowy but when I create a table (primary or group) the collection are empty
which is not normal considering I have many data how to solve this ? is this related to rules ?

![image](https://user-images.githubusercontent.com/29728429/179019682-dd9cc46d-df48-4ee6-bd06-d1c023318e5b.png)

![image](https://user-images.githubusercontent.com/2972

[2022-07-14 15:45] #710 closed

[2022-07-15 14:58] zakblacki opened #711 "Missing Features and issues request"
Hi, here some ideas to improve rowy :
- We cannot see the document Id (row)  (if user want to create a new row we should be allowed to set the name or id manually not auto generate)
- There is no search feature available (to find some specific data in our collection)
- Also we need feature to upload images to storage and get link from it
- It's annoying to have to edit Field type (give option for

[2022-07-16 18:43] aritraroy commented on #698
@shamsmosowi Any update on when this can be expected to be fixed? I am facing this issue almost regularly.

[2022-07-19 07:59] notsidney commented on #711
Discussion #713

[2022-07-19 07:59] #711 closed

[2022-07-20 02:20] harinij opened #718 "Add customization option to long text field"
**Is your feature request related to a problem? Please describe.**
Currently, short text field supports the following customization, to check for character limit and regex. The long text field does not provide these options. Add these options to long text field as well.

**Short text field config**
![Screen Shot 2022-07-20 at 12 18 48 pm](https://user-images.githubusercontent.com/307298/179881838-

[2022-07-20 05:17] notsidney commented on #698
Hi @aritraroy, it looks like it was fixed a while back but we didn’t push the update to rowy.app. I’ve done that now.

[2022-07-20 05:17] #698 closed

[2022-07-20 08:54] n-sviridenko commented on #702
This CMS is for the admin users having access to all data, while we want to have a rowy-like access (through supabase auth, analog of firebase auth).

[2022-07-20 12:56] aritraroy commented on #698
@notsidney Thank you

[2022-07-20 12:57] aritraroy commented on #699
@shamsmosowi @notsidney Haven't heard back on this for a while. Closing this issue.

[2022-07-21 01:59] notsidney commented on #699
Hi, this is a useful feature that we could look into in a future sprint for advanced access controls. I’m reopening this issue.

[2022-07-21 05:13] aritraroy commented on #699
@notsidney Sure. Any tentative timeline on when this will be available?

[2022-07-21 05:22] notsidney commented on #699
Our current focus is to make it easier for users to get started with Rowy. We cannot provide any timeline on this issue. If we can, we usually include that information in the replies to issues.

[2022-08-03 12:07] harinij opened #736 "Support HEX format in number field type"
### Discussed in https://github.com/rowyio/rowy/discussions/735

<div type='discussions-op-text'>

<sup>Originally posted by **KKimj** August  3, 2022</sup>
I want to See number with HEX, hexadecimal format.

<img width="345" alt="image" src="https://user-images.githubusercontent.com/40026920/182544062-2f8e5318-fab4-4bfa-bc67-d1cbc0385ce8.png">

e.g., 0xFF001122

I want to Read / Write with hexade

[2022-08-05 03:16] harinij opened #739 "Duplicate row button needs a confirmation dialog"
**Is your feature request related to a problem? Please describe.**
Currently the duplicate row button does not need a confirmation and ends up creating the duplicate of the row immediately. This feature needs a confirmation message similar to the delete row icon

![Screen Shot 2022-08-05 at 1 14 47 pm](https://user-images.githubusercontent.com/307298/182993981-1f14a9d1-bab5-4199-b8ba-fc63fd6f68ea.

[2022-08-05 14:01] fraNieva commented on #739
I'm working on it

[2022-08-09 02:44] harinij commented on #707
Tracked here: https://github.com/rowyio/rowy/issues/704

[2022-08-11 07:56] chwan1 opened #745 "Error with argument "documentPath" when using derative"
**Describe the bug**
When using derative field in rowy, I encounter several issues.
At first, when I use example from the [doc](https://docs.rowy.io/field-types/derivative#google-cloud-api) and hit deploy, nothing shows up in the UI.
I went to gloud log and find error message
[code]
which I assume it is path related error.
So I went to firestore and chang the value of `/_rowy_/settings/tables[0].c

[2022-08-15 04:22] rafaeljimenez01 opened #747 "Error: Failed to get project token: {project name} 403"
**Describe the bug**
Created a project with new firebase database inside an empty workspace. When trying to visualize it I get error 403 (Failed to get project token: helloworldworkspaces1 403)

**To Reproduce**
Steps to reproduce the behavior:
1. Create project
2. Name project, select Firebase
3. Create new firebase project (used us-central and syd-australia both failed)
4. Verify authentication

[2022-08-16 08:35] BeeBombshell opened #748 "Problem with some special characters importing CSV file."
### Discussed in https://github.com/rowyio/rowy/discussions/746

<div type='discussions-op-text'>

<sup>Originally posted by **paconde** August 11, 2022</sup>
Hello, when importing a CSV file, I have problems with some special characters, such as "Ñ" or "º". Is there any solution?
</div>

### Sample Screenshots Depicting the Issue
<img width="509" alt="image" src="https://user-images.githubusercon

[2022-08-19 19:46] kennedycraig opened #751 "Error: Maximum call stack size exceeded."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-08-20 01:08] harinij opened #752 "Richtext field needs a full screen mode, similar to markdown fieldtype"
**Is your feature request related to a problem? Please describe.**
Currently, the rich text field is editable only in the side drawer. It can be limiting sometimes especially if you are using it to create long-form blog content. The rich text field type can use a fullscreen mode similar to the markdown field.

**Describe the solution you'd like**
Currently, the markdown field in side drawer has a

[2022-08-21 19:50] harinij commented on #578
Closing old issue, as this has been fixed in the latest release.

[2022-08-21 19:50] #578 closed

[2022-08-21 19:50] harinij commented on #599
Fixed in the latest release.

[2022-08-21 19:50] #599 closed

[2022-08-22 20:03] BeeBombshell opened #757 "Removing or transferring Workspace projects"
### Discussed in https://github.com/rowyio/rowy/discussions/755

<div type='discussions-op-text'>

<sup>Originally posted by **FlutterFlowJohn** August 22, 2022</sup>
Is there a way to delete a project in a workspace?</div>

[2022-08-24 00:22] thevegasmovement opened #758 "Error: Failed to get document because the client is offline."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-08-24 12:55] runnedrun opened #761 "Infinite loading when trying to configure connector"
**Describe the bug**
I get endless loading when I click on the needs config button, when setting up a table

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new table with existing data
2. Set up columns
3. Change column type for one column (list of strings) to be connector
4. See the "needs config" clickable pill
5. Click "needs config"
6. See loading spinner

**Expected behavior**
Sh

[2022-08-24 13:28] runnedrun opened #763 "Algolia Index cloud fn error: Error: Cannot find module './algoliaIndex'"
**Describe the bug**
I enabled the algolia index cloud fn, added my algolia secrets to google cloud secret manager, and then triggered the function by duplicating a row. Then when I looked into my cloud fn logs I saw: Error: Cannot find module './algoliaIndex'

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Algolia Index extension
2. Add algolia key as detailed here: https://docs.rowy

[2022-08-25 15:07] XXXSIYU opened #767 "Error: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-08-25 23:26] harinij commented on #739
@fraNieva Just checking if you need any addition information for this?

[2022-08-28 01:54] thevegasmovement opened #770 "Error: Failed to get document because the client is offline."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-08-29 16:24] organicnz opened #775 "Pass the number from the column to the array"
Hi folks,

Thank you for the lovely product :)
Is it possible to pass the number from the column to the array by any chance? :)

Thank you :)

<img width="1440" alt="Screen Shot 2022-08-29 at 7 00 52 PM" src="https://user-images.githubusercontent.com/4765090/187248192-72896ca7-cc1b-4dca-ac43-a03de14de011.png">

[2022-08-29 20:35] shamsmosowi commented on #775
Hi @organicnz,
not sure what exactly what you want to achieve, if you mean to use the number column to select an element in the array. The syntax would be something similar to this `row.dictionaryApi.records[row.number].fields.Name`
feel free to elaborate on your goal, we can try and help

[2022-08-29 20:56] organicnz commented on #775
Hi @shamsmosowi,
Ooh, sorry that wasn't quite clear, mate :)
Geez, I've been using $ sign for that purpose. Thank you very much for your great help :)

[2022-08-29 20:56] #775 closed

[2022-08-30 09:39] organicnz opened #776 "Google Analytics"
Hi folks,

Would be awesome to have a Google Analytics template :)

Thank you :)

[2022-08-30 15:27] organicnz opened #777 "Rows keep changing to 0 value"
Hi folks,

How to fix this bug with with rows? They keep changing to 0 value when I'm importing from Google spreadsheet for some reason :)

Thank you :)

<img width="1440" alt="Screen Shot 2022-08-30 at 6 24 34 PM" src="https://user-images.githubusercontent.com/4765090/187477545-ee048c18-ff96-46bb-8a8a-1227db4f5102.png">

[2022-08-30 19:20] alamit commented on #747
I am encountering the same problem at the moment.

**Desktop (please complete the following information):**

- OS: Mac OS 12.4
- Browser Chrome Version 104.0.5112.101

[2022-08-30 23:27] #767 closed

[2022-08-30 23:49] st-trade opened #779 "In my case, tasks are not even starting to deploy. These is what the console showss"
In my case, tasks are not even starting to deploy. These is what the console showss
<img width="655" alt="image" src="https://user-images.githubusercontent.com/94030557/187543507-1e63a4df-17ac-4965-a891-6a62f5687c14.png">

_Originally posted by @st-trade in https://github.com/rowyio/rowy/discussions/778#discussioncomment-3512527_

[2022-08-30 23:53] st-trade commented on #779
I was able to fix it, but found something weird @harinij
Apparently, when I migrated to the newest Rowy version (the one in which workspaces are available), the project's rowy run instance somehow was switched between my production and dev rowy protects. No idea why.

I logged into the cloud run console, and assigned the rowy run backend URLs as corresponded, and it solved the issue.

[2022-08-31 14:26] yuriibabii opened #782 "Pop-up that shows document details is not responding. Page becomes unresponsive and remains until hard refresh. Browser eventually kills the tab."
**Describe the bug**
Recently I changed a structure of a collection, and I think the reason to this error is IDocumentReference. On Firebase website everything is ok. In Rowy cell I see some symbols that are not familiar to me,
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Collection'
2. Click on 'Row'
3. See freeze

**Expected behavior**
Row with Reference should be displayed withou

[2022-08-31 17:04] ronicarlos opened #783 "Error: JWT expired"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-09-05 07:47] harinij commented on #425
Closing issue as it is resolved in recent releases.

[2022-09-05 07:47] #425 closed

[2022-09-08 02:47] harinij commented on #776
@organicnz great suggestion. We can definitely look into adding one. Is there anything specific you are looking to see? If you can share a bit more about your use case it would be super useful.

[2022-09-08 02:50] harinij commented on #777
Hi @organicnz it is not super clear what issue you are facing. Would it be possible for you to share a video recording to show the issue you are facing?

We have a detailed video + blog here on how to import data using CSV: https://www.rowy.io/blog/import-csv-to-firestore

[2022-09-08 07:53] organicnz opened #788 "Set up Rowy Run to use Derivative fields"
**Describe the bug**
Whenever I try to add a derivative the frame pops with the message "Set up Rowy Run to use Derivative fields"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dictionary_api' column.
2. See error 'Set up Rowy Run to use Derivative fields'.

**Expected behavior**
'Set up Rowy Run' should be run once as it was before.

**Screenshots**
https://www.loom.com/i/99891efe7

[2022-09-10 12:35] shingote15 opened #792 "Error: JWT expired"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-09-10 13:04] wikithoughts opened #793 "Error: JWT expired"

[2022-09-10 14:41] lbjerga opened #794 "Error: The query requires a COLLECTION_GROUP_ASC index for collection CRM_CONTACT and field twitter. You can create it here: https://console.firebase.google.com/v1/r/project/liquid-concessions-prod/firestore/indexes?create_exemption=CmBwcm9qZWN0cy9saXF1aWQtY29uY2Vzc2lvbnMtcHJvZC9kYXRhYmFzZXMvKGRlZmF1bHQpL2NvbGxlY3Rpb25Hcm91cHMvQ1JNX0NPTlRBQ1QvZmllbGRzL3R3aXR0ZXIQAhoLCgd0d2l0dGVyEAE"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-09-11 09:31] organicnz commented on #776
@harinij I would like to get general analytics from Google Analytics v3 and v4 and visualise if possible. So far this has been implemented manually in [Google Spreadsheets](https://www.loom.com/i/c5e078a9401b4630ae452401459a838e) :)

[2022-09-13 03:04] harinij opened #799 "Email field: Validation regex option"
**Is your feature request related to a problem? Please describe.**
Validation and regex options are currently available for only fields like short text and long text. Whereas the email field does not have a default validation option/customization.

If you go to the email field config [here](https://demo.rowy.io/table/allFieldTypes#page=1&columnModal=%7B%22type%22%3A%22config%22%2C%22columnKey%22%3

[2022-09-13 08:24] harinij commented on #776
@organicnz some of these dashboards seem very comprehensive and might not be ideal to pull all the data points into one collection. If there are specific data points of interest to you at table level/for use in your app.

For example, we are exploring in this [demo of UTM tracking link](https://demo.rowy.io/table/utmLinks), ability to see the lifetime clicks per campaign URL via google analytics.

[2022-09-13 09:26] amiregelz opened #807 "Editing Array fields of strings"
**Describe the bug**
I have a field which is an array of text strings.
When trying to edit this field in order to add, modify or delete one of the strings, it opens a Multi-Select box with 0 options.

**Expected behavior**
All I want is to edit the array like text or code or JSON, is that possible?

**Screenshots**
<img width="277" alt="image" src="https://user-images.githubusercontent.com/1956341

[2022-09-14 12:26] #524 closed

[2022-09-14 12:26] harinij commented on #525
This feature has been added in the recent release.

[2022-09-14 12:26] #525 closed

[2022-09-14 12:27] harinij commented on #526
This feature has been added in the recent release.

[2022-09-14 12:27] #526 closed

[2022-09-14 12:47] harinij commented on #532
@nalin-singh Let us know if you would be submitting a PR for this? if not will be opening up this issue for other contributors.

[2022-09-14 12:52] harinij opened #809 "Support bulk deletion of rows"
**Is your feature request related to a problem? Please describe.**
Currently, you can only delete a row one at a time. Need ability to select and delete multiple rows at a time.

**Describe the solution you'd like**
Design file: [Link](https://www.figma.com/file/2ajhGblHmRYOiQSv0LHcyN/Multi-select?type=design&node-id=0-1&t=IBwEHcMDSCxl5MRO-0)

**Note**
- Implement only the table part of the design

[2022-09-14 13:12] harinij commented on #693
@Ciggzy1312 Would you be submitting a PR? Let us know if you are still working on it/need any additional info. If not, we will be unassigning it so that others in the community can take a look. Thanks

[2022-09-14 13:27] harinij commented on #747
Hi @rafaeljimenez01 @alamit this issue was fixed in the recent release. Closing this issue for now. In case you still facing this issue, please raise another issue with a screen recording as that will be helpful while we debug reported bugs. Thanks.

[2022-09-14 13:30] harinij commented on #518
This feature has been added in the latest release.

[2022-09-14 13:30] #518 closed

[2022-09-14 15:12] zitonamurotelus opened #812 "Error: Rowy API fail /firebaseToken?projectId=techhub-ui-2df643b4: 403"
**Describe the bug**
After completing create project Instead of opening the project I see a 403 screen

**To Reproduce**
Steps to reproduce the behavior:
1.  Tried to add company DB to Rowy via create project
2. All the steps went well
3. Fails with 403 error when I press create project

**Expected behavior**
For the project to start

**Desktop (please complete the following information):**
 - OS:

[2022-09-15 22:07] ChinazoOnwukaike commented on #517
Can this be assigned to me please?

[2022-09-16 11:51] harinij commented on #466
Moved to rowyio/templates repo

[2022-09-16 11:51] #466 closed

[2022-09-16 11:51] harinij commented on #467
Closing the issue as all extensions requests will be moved to rowyio/templates repo

[2022-09-16 11:51] #467 closed

[2022-09-16 11:54] harinij commented on #469
Closing the issue as all extensions requests will be moved to [rowyio/templates](https://github.com/rowyio/templates) repo

[2022-09-16 11:54] #469 closed

[2022-09-16 11:54] harinij commented on #461
Closing the issue as all extensions requests will be moved to [rowyio/templates](https://github.com/rowyio/templates) repo

[2022-09-16 11:54] #461 closed

[2022-09-16 11:54] harinij commented on #468
Closing the issue as all extensions requests will be moved to [rowyio/templates](https://github.com/rowyio/templates) repo

[2022-09-16 11:54] #468 closed

[2022-09-16 14:40] PrathmeshSadake opened #815 "Error: Rowy API fail /firebaseToken?projectId=shintoon-io: 403"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Rowy Run version**
If applicable, sh

[2022-09-16 14:40] #815 closed

[2022-09-16 17:02] mshamsrainey commented on #513
I'll be working on this issue as part of GHC's Open Source Day :-) @harinij

[2022-09-16 17:54] likitarai1 commented on #799
@harinij I would like to work on this issue.

[2022-09-16 20:59] mshamsrainey opened #816 "Logic issue in action field customized icons"
Toggling off customized icons in Actions field does not revert icons to default. Icons only revert to default when customized icon is removed from input field.

**To Reproduce**
1. Create Actions field in table
2. Open the configuration settings for the column with an actions field
3. Click the checkbox to "Customize button icons with an emoji"
4. Fill in an emoji of your choice to replace the def